.login-wrapper {
  min-height: 100vh;
  background: #001e50;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-wrapper .login-logo {
  text-align: center;
}

.login-wrapper .login-inner {
  width: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.login-wrapper .login-inner .form-wrapper {
  background-color: #fff;
  width: 350px;
  margin: auto;
  padding: 20px;
  padding-top: 0;
  border-radius: 6px;
}

.login-wrapper .login-inner .form-wrapper .form-group label {
  color: #000;
}

.login-wrapper .login-info {
  text-align: center;
}

.login-wrapper .login-info h1 {
  font-size: 100px;
  text-transform: capitalize;
  color: #000;
  opacity: 0.1;
  font-weight: bold;
  line-height: 1;
}

.login-wrapper .login-info h3 {
  font-size: 60px;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.508);
}

.login-label {
  font-size: 12px;
  margin-bottom: 0;
}

.login-title h3 {
  font-size: 24px;
  color: #d2d2d2;
  text-align: center;
  font-weight: bold;
}

.login-title p {
  font-size: 12px;
  color: #d2d2d2;
  text-align: center;
}

.login-wrapper header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 66px;
}

.login-wrapper .logo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -28px;
  width: 100%;
  left: 0;
}

.login-wrapper .logo-row .logo-image {
  display: inline-block;
  padding: 0 15px;
}

.login-wrapper .logo-row .logo-image img {
  max-width: 100%;
}

.login-wrapper .logo-row:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: inline-block;
}

.login-wrapper .logo-row:after {
  content: "";
  width: 20%;
  height: 2px;
  background-color: #fff;
  display: inline-block;
}

.btn {
  padding: 0.675rem 0.75rem;
  border-radius: 0;
  font-family: "VW Head";
  text-transform: capitalize;
  font-weight: bold;
}

.btn-primary {
  background-color: #001e50;
  border-color: #001e50;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #001e50;
  border-color: #001e50;
}

.btn:hover,
.btn-primary:hover {
  color: #fff;
  background-color: #00b0f0;
  border-color: #00b0f0;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #001e50;
  border-color: #001e50;
}

.btn-outline-primary {
  color: #001e50;
  border-color: #001e50;
}

.btn-medium {
  width: 150px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
  color: #c2cacf;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #00b0f0;
}

.tab button:hover svg .a {
  fill: #00b0f0;
}

.tab button:hover svg .b {
  stroke: #00b0f0;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #00b0f0;
}

.tab button.active svg .a {
  fill: #00b0f0;
}

.tab button.active svg .b {
  stroke: #00b0f0;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

html {
  font-size: 16px;
  font-family: "VW Head", Arial, Helvetica, sans-serif;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "VW Text", Arial, Helvetica, sans-serif;
  height: 100%;
}

.font-18-bold {
  font-size: 1.2857rem;
  font-weight: bold;
}

.admin-wrapper {
  background-color: #f2f4f6;
  display: inline-block;
  width: 100%;
}

.tobii__slide .tobii-html {
  background: #fff;
  padding: 0;
  max-width: 800px;
}

.create-card {
  padding: 30px;
  background-color: #fff;
  margin: 30px;
  font-family: "VW Head";
}

.create-card .create-record-title {
  font-size: 16px;
  color: #001e50;
  font-family: "VW Head";
  margin-bottom: 30px;
}

.create-card .create-record-title a {
  font-size: 18px;
  color: #001e50;
}

.create-card .form-group-title {
  color: #00b0f0;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 14px;
}

.nsc-tbl {
  display: table;
  width: 100%;
  background-color: #f2f4f6;
  padding: 20px;
  border-radius: 6px;
  max-width: 522px;
}

.nsc-tbl .nsc-cell {
  display: table-cell;
  text-transform: capitalize;
  width: 33%;
}

.nsc-tbl .nsc-cell .nsc-text-light {
  font-size: 12px;
  color: #ababab;
  font-family: "VW Head";
}

.nsc-tbl .nsc-cell .nsc-text-dark {
  font-size: 14px;
  color: #001e50;
  font-family: "VW Head";
}

.text-grey-small {
  color: #ababab;
  font-family: "VW Head";
  font-size: 12px;
}

.edit-icon {
  background: url(../images/icons/edit-light-blue.png) no-repeat center;
}

.edit-icon:focus, .edit-icon:hover {
  background: url(../images/icons/edit-dark-blue.png) no-repeat center;
}

.delete-icon {
  background: url(../images/icons/trash-light-blue.png) no-repeat center;
}

.delete-icon:focus, .delete-icon:hover {
  background: url(../images/icons/trash-dark-blue.png) no-repeat center;
}

.view-icon {
    background: url(../images/icons/right-caret-icon.png) no-repeat center;
}
.icon {
  width: 20px;
  height: 20px;
  background-size: contain !important;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

button.delete-icon {
  border: 0;
  width: 24px;
  height: 24px;
  outline: none;
}

button.delete-icon:focus {
  border: 0;
}

.add-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-btn:focus .btn-icon-add, .add-btn:hover .btn-icon-add {
  background: url(../images/icons/plus-solid.png) no-repeat center;
}

.f-box-btn:focus, .f-box-btn:hover {
  background-color: #00b0f0;
}

.f-box-btn:focus .btn-icon-add, .f-box-btn:hover .btn-icon-add {
  background: url(../images/icons/plus-solid.png) no-repeat center;
}

.btn-icon {
  width: 16px;
  height: 16px;
  background-size: contain !important;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.btn-icon-add {
  background: url(../images/icons/plus-light-blue.png) no-repeat center;
}

.btn-icon-add-white {
  background: url(../images/icons/plus-white.png) no-repeat center;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #00b0f0;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.loader {
  width: 100%;
  background: rgba(255, 255, 255, 0.48);
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
}

.vw-header-pagetitle {
  background: #0743a6;
  background: -webkit-gradient(linear, left top, right top, from(#0743a6), color-stop(32%, #001e50));
  background: linear-gradient(90deg, #0743a6 0%, #001e50 32%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vw-header-pagetitle h1 {
  margin-bottom: 0;
}

.vw-header-pagetitle .vw-header-logo {
  margin-left: auto;
  position: relative;
  width: calc(100% - 300px);
  text-align: right;
}

.vw-header-pagetitle .vw-header-logo:after {
  content: "";
  width: 80%;
  height: 2px;
  background: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
}

.vw-header-pagetitle .vw-header-logo:before {
  content: "";
  width: 20%;
  height: 2px;
  background: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
}

.vw-header-pagetitle .vw-header-logo img {
  max-width: 54px;
  width: 100%;
}

.vw-header-pagetitle .vw-header-logo-link {
  background-color: #001e50;
  margin-right: 10%;
  position: relative;
  z-index: 1;
  padding: 12px;
}

.admin-wrapper {
  min-height: 100vh;
}

.admin-wrapper main {
  padding: 0 30px;
}

.admin-wrapper .navWrapper {
  position: fixed;
  overflow-y: auto;
  background: transparent linear-gradient(122deg, #023d73 0%, #011f51 100%) 0% 0% no-repeat padding-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 80px;
  z-index: 2;
}

.admin-wrapper .navWrapper .navWrapper-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin-wrapper .navWrapper .navWrapper-inner nav {
  margin-bottom: 15px;
}

.admin-wrapper .navWrapper .profile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.admin-wrapper .navWrapper .profile-nav .pn-col:first-child {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}

.admin-wrapper .navWrapper .profile-nav .pn-col:first-child img {
  width: 100%;
}

.admin-wrapper .navWrapper .profile-nav .pn-col .pn-name {
  font-size: 20px;
  color: #fff;
  font-family: "VW Head";
}

.admin-wrapper .navWrapper .profile-nav .pn-col .pn-role {
  font-size: 16px;
  color: #fff;
  font-family: "VW Text";
}

.admin-wrapper .navWrapper .profile-nav .pn-col .pn-role a {
  font-size: 16px;
  color: #fff;
  font-family: "VW Text";
  text-decoration: none;
}

.admin-wrapper .navWrapper .close-menu {
  font-size: 20px;
  color: #fff;
  font-family: "VW Text";
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.1;
  margin-bottom: 15px;
}

.admin-wrapper .navWrapper .close-menu img {
  margin-right: 12px;
  margin-left: -12px;
  max-width: 18px;
}

.admin-wrapper .navWrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 400px;
}

.admin-wrapper .navWrapper ul li a {
  font-size: 20px;
  color: #fff;
  font-family: "VW Head";
  text-decoration: none;
  padding: 20px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin-wrapper .navWrapper ul li a .icon-wrp {
  width: 14px;
}

.admin-wrapper .navWrapper ul li a img {
  max-width: 100%;
}

.admin-wrapper .list-wrp-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin-wrapper .list-wrp-header .list-record-count {
  font-size: 20px;
  font-family: "VW Head";
  font-weight: bold;
  color: #001e50;
}

.admin-wrapper .list-wrp-header .f-box {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #d4dade;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  vertical-align: top;
}

.admin-wrapper .list-wrp-header .f-box-calender {
  line-height: normal;
  color: #001e50;
}

.admin-wrapper .list-wrp-header .f-box-calender img {
  margin-right: 10px;
}

.admin-wrapper .list-wrp-header .f-box-xls {
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-wrapper .list-wrp-header .f-box-xls img {
  margin-right: 5px;
}

.admin-wrapper .list-wrp-header .f-box-xls span {
  vertical-align: middle;
}

.admin-wrapper .list-wrp-header .f-box-btn {
  background-color: #001e50;
  line-height: 1.1;
  color: #fff;
  padding: 10px 15px;
}

.admin-wrapper .list-wrp-header .f-box-btn:focus, .admin-wrapper .list-wrp-header .f-box-btn:hover {
  background-color: #00b0f0;
}

.admin-wrapper .list-wrp-header .f-box button {
  line-height: 0;
  cursor: pointer;
  border: 0;
  background: none;
  outline: none;
}

.admin-wrapper .list-wrp-header .f-box button:focus-visible, .admin-wrapper .list-wrp-header .f-box button:focus {
  border: 0;
  background: none;
}

.admin-wrapper .list-wrp-header .f-box-text {
  font-family: "VW Head";
  font-weight: bold;
  color: #001e50;
  line-height: normal;
}

.admin-wrapper .list-wrp-header .f-box-text img {
  margin-right: 10px;
}

.admin-wrapper .list-wrp-header .f-box img {
  max-width: 18px;
}

.admin-wrapper .list-wrp-header .f-box-search {
  padding: 7px 10px;
  vertical-align: top;
}

.admin-wrapper .list-wrp-header .f-box-search .form-control-custom {
  margin-left: 10px;
}

.admin-wrapper .list-wrp-header .f-box-filter {
  padding: 0;
}

.admin-wrapper .list-wrp-header .f-box-filter .select-label {
  padding: 6px 12px;
  color: #d2d2d2;
}

.admin-wrapper .list-wrp-header .f-box-filter .select2-container--default .select2-selection--single {
  border-bottom: 0;
}

.admin-wrapper header {
  height: 68px;
  position: relative;
  width: 100%;
  margin-bottom: 90px;
}

.admin-wrapper header .header-inner {
  height: 100%;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-wrapper .hamburger {
  color: #001e50;
  font-size: 18px;
  line-height: 1.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.admin-wrapper .hamburger img {
  width: 17px;
  margin-right: 10px;
}

.admin-wrapper .logo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -28px;
  width: 100%;
  left: 0;
}

.admin-wrapper .logo-row .logo-image {
  display: inline-block;
  padding: 0 15px;
}

.admin-wrapper .logo-row:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #001e50;
  display: inline-block;
}

.admin-wrapper .logo-row:after {
  content: "";
  width: 20%;
  height: 2px;
  background-color: #001e50;
  display: inline-block;
}

.tobii-zoom__icon {
  display: none;
}

.vw-pro-detail {
  margin-bottom: 40px;
  margin-top: 40px;
}

.mobile-task-images,
.mobile-modal-header,
.mobile-car-result,
.mobile-car-con-value {
  display: none;
}

.vw-car-details-tbl {
  display: table;
  width: 100%;
  font-family: "VW Head";
}

.vw-car-details-tbl .vw-car-details-cell {
  display: table-cell;
  padding: 5px;
  width: 60%;
  color: #001e50;
}

.vw-car-details-tbl .vw-car-details-cell:first-child {
  width: 40%;
  color: #6a767d;
}

.vw-car-name {
  padding: 15px 5px;
  display: block;
  color: #001e50;
  font-family: "VW Head";
  font-weight: bold;
}

.vw-d-g {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tobii-zoom {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inline-block;
  position: relative;
  text-decoration: none;
  width: 100%;
  overflow: hidden;
  margin: 0%;
}

.tobii-zoom img {
  width: 100%;
}

.splide__slide__row .tobii-zoom {
  display: block;
}

.vw-tbl {
  display: table;
  width: 100%;
}

.vw-tbl-row {
  display: table-row-group;
}

.vw-tbl-row:nth-child(odd) .vw-tbl-cell {
  background-color: #dfe4e8;
}

.vw-tbl-row .vw-tbl-cell.vw-tbl-cell-head {
  background-color: #6a767d;
  color: #fff;
  text-transform: capitalize;
}

.vw-tbl-cell {
  display: table-cell;
  border: 1px solid #fff;
  padding: 7px 10px;
  vertical-align: top;
  color: #001e50;
  width: 16%;
}

.vw-tbl-cell:last-child {
  width: 45%;
}

.vw-tbl-cell:nth-child(2) {
  width: 1%;
}

.vw-tbl-cell .status {
  background: #d2d2d2 no-repeat center;
  background-size: contain;
  width: 18px;
  height: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vw-tbl-cell .status-yellow {
  background: url(../images/icons/tick-yellow.svg) no-repeat center;
}

.vw-tbl-cell .status-green {
  background: url(../images/icons/tick-green.svg) no-repeat center;
}

.vw-tbl-cell .status-red {
  background: url(../images/icons/tick-red.svg) no-repeat center;
}

.vw-tbl .img-wrp .lightbox {
  max-width: 70px;
}

.vw-tbl .img-wrp .lightbox .tobii-zoom__icon {
  display: none;
}

.vw-tbl .img-wrp img {
  max-width: 100%;
}

@media screen and (max-width: 991px) {
  body.active {
    overflow: hidden;
  }
  .vw-pro-detail {
    margin-top: 0;
  }
  .mobile-task-images,
  .mobile-modal-header,
  .mobile-car-result,
  .mobile-car-con-value {
    display: block;
  }
  .mobile-task-title {
    background-color: #6a767d;
    color: #fff;
    font-family: "VW Head";
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
  }
  .mobile-task-images .img-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mobile-task-images .img-wrp a {
    width: 31%;
    margin: 1%;
  }
  .vw-tbl {
    display: table;
    width: 100%;
    background: #fff;
    margin-top: 20px;
  }
  .tabcontent {
    display: none;
    padding: 0 20px 20px 20px;
    border: 1px solid #ccc;
    border-top: none;
    position: fixed;
    top: 0;
    background: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
  }
  .tabcontent .vw-tbl-cell {
    font-size: 14px;
  }
  .tabcontent .vw-tbl-cell-head {
    font-size: 14px;
  }
  .vw-tbl-cell:last-child {
    display: none;
  }
  .vw-car-name {
    padding: 15px 5px;
    display: block;
    color: #fff;
    position: absolute;
    top: 25px;
    z-index: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    padding: 0 46px;
    text-align: center;
  }
  .vw-header {
    display: none;
  }
  .product-details {
    background-color: #fff;
  }
  .product-details .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .vw-pro-detail {
    position: relative;
    background-color: #001e50;
    padding-top: 100px;
  }
  .vw-pro-detail .row {
    margin: 0;
  }
  .splide__slide {
    padding: 10px;
  }
  .splide__slide .tobii-zoom {
    border-radius: 20px;
  }
  .mobile-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    top: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: -156px;
    margin-top: 40px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 30px 0px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 30px 0px;
  }
  .tab {
    border: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 30px 0px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 30px 0px;
    margin-top: 200px;
    border-radius: 15px;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .tab button {
    padding: 15px;
    width: 100%;
    text-align: left;
    color: #001e50;
    border-bottom: 1px solid #dfe4e8;
  }
  .tab button:last-child {
    border-bottom: 0;
  }
  .tab button .b,
  .tab button .a {
    fill: #001e50;
  }
  .tab button .b {
    stroke: #001e50;
  }
  .tab button svg {
    margin-right: 15px;
  }
  .mobile-modal-header {
    padding: 32px 15px 32px 0;
    text-align: center;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #d2d2d2;
  }
  .mobile-modal-header .modal-title {
    font-size: 18px;
    font-family: "VW Head";
    font-weight: bold;
    text-transform: capitalize;
  }
  .close-modal {
    width: 22px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .close-modal img {
    width: 100%;
  }
  .mobile-task-images {
    margin-top: 20px;
  }
  .mobile-car-result {
    display: block;
    border: 1px solid #000;
    border-radius: 8px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
  }
  .mobile-car-result .car-d-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-car-result .car-d-result .car-d-result-icon {
    margin-right: 10px;
  }
  .mobile-car-result .car-d-result .car-d-result-icon svg .a {
    fill: #000;
  }
  .mobile-car-result .car-d-result .car-d-result-icon svg .b {
    stroke: #000;
  }
  .mobile-car-result .car-d-result .car-d-result-title {
    font-size: 14px;
    line-height: 1.1;
    font-family: "VW Text";
    font-weight: bold;
  }
  .mobile-car-result .car-d-result-percent {
    font-family: "VW Head";
    line-height: 1;
    font-size: 28px;
  }
  .mobile-car-result .car-d-result-percent span {
    font-size: 14px;
  }
  .mobile-car-result.result-green {
    border: 1px solid #00c971;
    background-color: rgba(0, 201, 113, 0.05);
    color: #00c971;
  }
  .mobile-car-result.result-green .car-d-result .car-d-result-icon svg .a {
    fill: #00c971;
  }
  .mobile-car-result.result-green .car-d-result .car-d-result-icon svg .b {
    stroke: #00c971;
  }
  .mobile-car-result.result-red {
    border: 1px solid #ff335c;
    background-color: rgba(255, 51, 92, 0.05);
    color: #ff335c;
  }
  .mobile-car-result.result-red .car-d-result .car-d-result-icon svg .a {
    fill: #ff335c;
  }
  .mobile-car-result.result-red .car-d-result .car-d-result-icon svg .b {
    stroke: #ff335c;
  }
  .btn-wrap-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .btn-wrap-link .mobile-car-con-value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn-wrap-link .mobile-car-con-value.result-red {
    color: #ff335c;
  }
  .btn-wrap-link .mobile-car-con-value.result-green {
    color: #00b0f0;
  }
  .btn-wrap-link .mobile-car-con-value img {
    width: 14px;
    vertical-align: middle;
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .tobii__btn--close {
    top: 1.88889em;
  }
  .tobii__btn svg {
    height: 2.33333em;
  }
  .tabcontent .vw-tbl-cell {
    font-size: 12px;
  }
  .mobile-card {
    padding: 20px;
    width: 100%;
  }
  .tab {
    margin-top: 185px;
  }
}

.angle-view {
  overflow: hidden;
  max-width: 600px;
  margin: 50px auto;
}

.angle-view .splide__arrows {
  text-align: center;
  margin-top: 50px;
}

.angle-view .splide__arrows .btn {
  background-color: #001e50;
}

.angle-view ul,
#angle-view li {
  margin: 0;
  padding: 0;
}

.angle-view li {
  list-style: none;
}

.angle-view ul {
  max-width: 600px;
}

.angle-view img {
  width: 100%;
  display: block;
}

.sign-wrap {
  display: block;
  text-align: center;
}

.sign-wrap .sign {
  display: inline-block;
  vertical-align: top;
  margin: 20px 30px;
}

.sign-wrap .sign .sign-image-wrap {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 30px 0px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 30px 0px;
  width: 207px;
  height: 89px;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sign-wrap .sign .sign-image-wrap img {
  width: 100%;
}

.sign-wrap .sign h6 {
  margin-bottom: 15px;
  font-family: "VW Head";
  font-weight: bold;
  font-size: 14px;
  color: #001e50;
}

.yellow-dot {
  width: 12px;
  height: 12px;
  background-color: #ffd130;
  border-radius: 50%;
  display: inline-block;
}

.red-dot {
  width: 12px;
  height: 12px;
  background-color: #ff335c;
  border-radius: 50%;
  display: inline-block;
}

.car-service-legend {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
}

.car-service-legend li {
  display: inline-block;
}

.car-service-legend li:first-child {
  margin-right: 40px;
}

.car-serv-wrp {
  position: relative;
  overflow: hidden;
}

.car-serv-wrp .red-dot,
.car-serv-wrp .yellow-dot {
  position: absolute;
  top: 0;
}

.tabl-detail-wrap {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.vw-tbl-list1 {
  display: table;
  width: 100%;
  margin-top: 30px;
  position: relative;
}

.vw-tbl-list1 .vw-row {
  display: table-row-group;
}

.vw-tbl-list1 .vw-row .vw-cell {
  display: table-cell;
  background-color: #fff;
  padding: 10px 25px;
  font-size: 14px;
  font-family: "VW Head";
  color: #001e50;
  border-bottom: 1px solid #d4dade;
  vertical-align: middle;
}

.vw-tbl-list1 .vw-row .vw-cell span {
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

.vw-tbl-list1 .vw-row .vw-cell .tbl-text-light {
  color: #ababab;
}

.vw-tbl-list1 .vw-row .vw-cell:last-child {
  border-right: 1px solid #d4dade;
}

.vw-tbl-list1 .vw-row .vw-cell:first-child {
  border-left: 1px solid #d4dade;
}

.vw-tbl-list1 .vw-row .vw-cell-head {
  background-color: transparent;
  font-family: "VW Head";
  font-weight: bold;
  font-size: 16px;
  color: #001e50;
}

.vw-tbl-list1 .vw-row .vw-cell-head:first-child {
  border-left: 0;
}

.vw-tbl-list1 .vw-row .vw-cell-head:last-child {
  border-right: 0;
}

.tbl-detail-data {
  width: 423px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  font-family: "VW Head";
  padding: 30px;
}

.tbl-detail-data .tbl-dd-light-text {
  font-size: 12px;
  color: #ababab;
  font-family: "VW Head";
}

.tbl-detail-data .tbl-dd-dark-text {
  font-size: 14px;
  color: #001e50;
  font-family: "VW Head";
}

.tbl-detail-data .tbl-sec-row {
  display: table;
  width: 100%;
  margin-bottom: 25px;
}

.tbl-detail-data .tbl-sec-row:last-child {
  margin-bottom: 0px;
}

.tbl-detail-data .tbl-sec-row .tbl-sec-cell {
  display: table-cell;
  width: 50%;
}

.tbl-detail-data .tbl-dd-header {
  display: table;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #d2d2d2;
}

.tbl-detail-data .tbl-dd-header .tbl-dd-light-text {
  font-size: 12px;
  color: #ababab;
  font-family: "VW Head";
}

.tbl-detail-data .tbl-dd-header .tbl-dd-dark-text {
  font-size: 16px;
  color: #001e50;
  font-family: "VW Head";
}

.tbl-dd-sec {
  padding-bottom: 20px;
  border-bottom: 1px solid #d2d2d2;
}

.tbl-dd-sec .tbl-sec-title {
  color: #00b0f0;
  padding: 16px 0;
}

.vw-label {
  font-size: 12px;
  color: #ababab;
}

.form-control.form-control-custom {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  padding: 0.375rem 0;
}

.form-control.form-control-custom:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 2px solid #001e50;
}

.mb-form-sec {
  margin-bottom: 50px;
}

.form-control::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ababab;
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ababab;
  opacity: 1;
  /* Firefox */
}

.form-control::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ababab;
  opacity: 1;
  /* Firefox */
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ababab;
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ababab;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ababab;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #001e50;
  background-color: #001e50;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #001e50;
  background-color: #001e50;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 0;
  padding-right: 0;
}

.contry-code {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
}

.select2-container .select2-selection--single {
  height: calc(1.5em + 0.75rem + 2px);
}

.select2-container--default
.select2-selection--single
.select2-selection__rendered {
  line-height: 36px;
}

.select2-container--default
.select2-selection--single
.select2-selection__clear,
.select2-container--default
.select2-selection--single
.select2-selection__arrow {
  height: 36px;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #d2d2d2;
}

.select2-container--default
.select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #001e50;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-wrapper .right-btns {
  margin-left: auto;
}

.dash-card {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 30px;
}

.dash-card .dash-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.dash-card .dash-card-data-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dash-card .dash-card-data-row > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 32px;
  border-right: 1px solid #d2d2d2;
  margin: 15px 0px;
}

.dash-card .dash-card-data-row > div:last-child {
  border-right: 0;
}

.dash-card .dash-card-col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dash-card .dash-card-col-right {
  margin-left: auto;
}

.dash-card .dash-card-title {
  font-size: 20px;
  font-weight: 500;
  margin-right: 7px;
}

.dash-card .dash-filter-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #d2d2d2;
}

.dash-card .dash-filter-wrp > button {
  min-width: 50px;
  text-align: center;
  padding: 3px 7px;
  margin: 2px;
}

.dash-card .dash-filter-wrp > button.active {
  background-color: #001e50;
  color: #fff;
}

.dash-card .select-wrp {
  height: 43px;
  border: 1px solid #d2d2d2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  padding: 5px 5px 5px 10px;
}

.dash-card .select-wrp select {
  border: 0;
}

.dash-card .select-wrp > span {
  margin-right: 20px;
}

.dash-card .select-wrp .select2-container--default .select2-selection--single {
  border-bottom: 0;
}

.dash-card .dash-data-label {
  font-size: 18px;
}

.dash-card .dash-data-value {
  font-size: 42px;
  font-weight: 500;
}

.dash-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dash-card-header .dash-card-header-title {
  font-size: 20px;
  font-weight: 500;
  margin-right: 7px;
}

.dash-card-header .dash-card-header-filter {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dash-card-header .dash-card-header-filter .chart-legend {
  display: inline-block;
  margin-right: 20px;
}

.dash-card-header .dash-card-header-filter .chart-legend:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
}

.dash-card-header .dash-card-header-filter .chart-legend.vwa:before {
  background-color: #00b1eb;
}

.dash-card-header .dash-card-header-filter .chart-legend.msu:before {
  background-color: #0057a7;
}

#chartdiv {
  width: 100%;
  height: 500px;
}
/*# sourceMappingURL=style.css.map */