﻿@model VW.MSU.Models.ModelsModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@{
    ViewData["Title"] = "Add/Edit Model";
}


<div class="create-card">
    <div class="create-wrp-header">
        <div class="create-record-title">
            <a asp-action="Index"> <span>&#8592; &nbsp;</span>@Html.Raw(Model.Id == 0 ? "Add" : "Edit") Model</a>
        </div>
    </div>
    <div class="create-form-main">
        <form id="CreateOrUpdateForm" asp-action="CreateOrUpdate" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="text-danger">@Model.ErrorMessage</div>
            }
            <input asp-for="Id" type="hidden" />
            <div class="form-group mb-form-sec">
                <div class="form-group-title">ADD Model Details</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Model Name</label>
                            <input asp-for="Name" class="form-control form-control-custom" placeholder="Model Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group mb-form-sec">
                <div class="form-group-title">ADD Model Image</div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Model Image</label>
                            <div class="custom-file">
                                <input asp-for="ImageBlob" class="custom-file-input form-control form-control-custom" />
                                <label asp-for="ImageBlob" class="control-label custom-file-label"></label>
                            </div>
                            <span asp-validation-for="ImageBlob" class="text-danger"></span>
                            @if (!string.IsNullOrEmpty(Model.Image))
                            {
                                <img src="@Url.Content(Model.Image)" style="width: 200px;" />
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Front Angle Image</label>
                            <div class="custom-file">
                                <input asp-for="FrontAngleImageBlob" class="custom-file-input form-control form-control-custom" />
                                <label asp-for="FrontAngleImageBlob" class="control-label custom-file-label"></label>
                            </div>
                            <span asp-validation-for="FrontAngleImageBlob" class="text-danger"></span>
                            @if (!string.IsNullOrEmpty(Model.FrontAngleImage))
                            {
                                <img src="@Url.Content(Model.FrontAngleImage)" style="width: 200px;" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Back Angle Image</label>
                            <div class="custom-file">
                                <input asp-for="BackAngleImageBlob" class="custom-file-input form-control form-control-custom" />
                                <label asp-for="BackAngleImageBlob" class="control-label custom-file-label"></label>
                            </div>
                            <span asp-validation-for="BackAngleImageBlob" class="text-danger"></span>
                            @if (!string.IsNullOrEmpty(Model.BackAngleImage))
                            {
                                <img src="@Url.Content(Model.BackAngleImage)" style="width: 200px;" />
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Left Angle Image</label>
                            <div class="custom-file">
                                <input asp-for="LeftAngleImageBlob" class="custom-file-input form-control form-control-custom" />
                                <label asp-for="LeftAngleImageBlob" class="control-label custom-file-label"></label>
                            </div>
                            <span asp-validation-for="LeftAngleImageBlob" class="text-danger"></span>
                            @if (!string.IsNullOrEmpty(Model.LeftAngleImage))
                            {
                                <img src="@Url.Content(Model.LeftAngleImage)" style="width: 200px;" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Right Angle Image</label>
                            <div class="custom-file">
                                <input asp-for="RightAngleImageBlob" class="custom-file-input form-control form-control-custom" />
                                <label asp-for="RightAngleImageBlob" class="control-label custom-file-label"></label>
                            </div>
                            <span asp-validation-for="RightAngleImageBlob" class="text-danger"></span>
                            @if (!string.IsNullOrEmpty(Model.RightAngleImage))
                            {
                                <img src="@Url.Content(Model.RightAngleImage)" style="width: 200px;" />
                            }
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-medium btn-primary mr-2" />
                <a asp-action="Index" class="btn btn-medium btn-outline-primary mr-2">Back to List</a>
            </div>
        </form>

    </div>
</div>



@section header {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/RequiredIf.js"></script>
    <script type="text/javascript" src="~/js/AllowedExtensions.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        });
    </script>
}