﻿@model IEnumerable<VW.MSU.Models.ModelsModel>
@{
    ViewData["Title"] = "Model List";
}
<div class="list-wrp-header">
    <div class="list-record-count">Models (@Model.Count())</div>
    <div class="list-filters">
        @*<a href="#" class="f-box f-box-calender">
            <img src="~/images/icons/calender-icon.svg" alt="calender" />
            <span>03 March, 2019</span>
        </a>*@
        <div class="f-box f-box-search">
            <input type="text" class="form-control form-control-custom" placeholder="Search">
            <button type="submit"><img src="~/images/icons/search-icon.svg" alt="search" /></button>
        </div>
        @*<a href="#" class="f-box f-box-xls">
            <img src="@Url.Content("~/images/icons/xls.png")" alt="XLS" />
            <span>XLS</span>
        </a>*@
        <a href="@Url.Action("CreateOrUpdate", "Models")" class="f-box f-box-btn">
            <span class="btn-icon btn-icon-add btn-icon-add-white"></span> Create Models
        </a>
    </div>
</div>
<div class="list-wrp-main scroller mCustomScrollbar">
    <div class="vw-tbl-list1">
        @if (Model.Count() > 0)
        {
            <div class="vw-row">
                <div class="vw-cell vw-cell-head"> @Html.DisplayNameFor(model => model.Name)</div>
                <div class="vw-cell vw-cell-head">&nbsp;</div>
            </div>
            foreach (var item in Model)
            {

                <div class="vw-row">
                    <div class="vw-cell">@item.Name</div>
                    <div class="vw-cell">
                        @Html.ActionLink("", "CreateOrUpdate", new { id = item.Id }, new { @class = "icon edit-icon" }) <span>|</span>
                        @Html.ActionLink("", "Delete", new { id = item.Id }, new { @class = "icon delete-icon" })
                    </div>
                </div>
            }
        }
        else
        {
            <div class="vw-row-no-data" style="text-align: center;background: #fff;padding: 25px;">
                <div class="vw-cell-no-data ">No data found.</div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script>
        (function ($) {
            $(window).on("load", function () {
                AutoHeight($(".scroller"), 10);
                $(".scroller").mCustomScrollbar({
                    theme: "minimal"
                });
            });
        })(jQuery);
    </script>
}