﻿@using Microsoft.AspNetCore.Http
@using VW.MSU.Common.Helpers
@using VW.MSU.Common.Enums
@model VW.MSU.Models.DealershipModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    UserDetails userDetails = (UserDetails)SessionData.GetUserDetails(HttpContextAccessor.HttpContext);
    ViewData["Title"] = "Create";
}
@section styles {
    <link rel="stylesheet" href="~/css/jquery-datetimepicker.css" />
}


<div class="create-card">
    <div class="create-wrp-header">
        <div class="create-record-title">
            <a asp-action="List"> <span>&#8592; &nbsp;</span> @Html.Raw(Model.DealershipId > 0 ? "Update" : "Create") Dealership</a>
        </div>
    </div>
    <div class="create-form-main">
        <form>
            
        </form>
        <form id="CreateOrUpdateForm" asp-action="CreateOrUpdate" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="text-danger">@Model.ErrorMessage</div>
            }
            <input asp-for="DealershipId" type="hidden" />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-group-title">BASIC INFORMATION</div>

                        <div class="form-row mb-4">
                            <div class="col-lg-12">
                                @*<label asp-for="Name" class="control-label"></label>*@
                                <input asp-for="Name" class="form-control form-control-custom" placeholder="Dealership Name"  />
                                <span asp-validation-for="Name" class="text-danger"></span>                                
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-lg-6">                               
                                @*<label asp-for="Code" class="control-label"></label>*@
                                <input asp-for="Code" class="form-control form-control-custom" placeholder="Dealership Code" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6">                                
                                @*<label asp-for="Location" class="control-label"></label>*@
                                <input asp-for="Location" class="form-control form-control-custom" placeholder="Dealership Location" />
                                <span asp-validation-for="Location" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-lg-12">                                
                                @*<label asp-for="Address" class="control-label"></label>*@
                                <input asp-for="Address" class="form-control form-control-custom" placeholder="Dealership Address" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-lg-6">
                                <div class="form-row">
                                    <div class="col contry-code">
                                        @*<label class="control-label">STD</label>*@
                                        @*<select class="std-selectJs form-control form-control-custom"
                                                name="std">
                                            <option value="00">00</option>
                                            <option value="00">000</option>
                                        </select>*@
                                        @*<label asp-for="Stdcode" class="control-label"></label>*@
                                        <input asp-for="Stdcode" class="form-control form-control-custom" placeholder="STD" type="number" maxlength="3" style="appearance: textfield; -webkit-appearance: textfield; -moz-appearance: textfield;"/>
                                        <span asp-validation-for="Stdcode" class="text-danger"></span>
                                    </div>
                                    <div class="col">                                      
                                        @*<label asp-for="Landline" class="control-label"></label>*@
                                        <input asp-for="Landline" class="form-control form-control-custom" placeholder="Landline Number"  />
                                        <span asp-validation-for="Landline" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                @*<label asp-for="Mobile" class="control-label"></label>*@
                                <input asp-for="Mobile" class="form-control form-control-custom" placeholder="Mobile Number" />
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group-title">DEALERSHIP ADMIN</div>

                        <div class="form-row mb-4">
                            <div class="col-lg-6">                             
                                @*<label asp-for="AdminFullName" class="control-label"></label>*@
                                <input asp-for="AdminFullName" class="form-control form-control-custom" placeholder="Fullname" />
                                <span asp-validation-for="AdminFullName" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6">
                                @*<label asp-for="AdminEmail" class="control-label"></label>*@
                                <input asp-for="AdminEmail" class="form-control form-control-custom" placeholder="Email" />
                                <span asp-validation-for="AdminEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-lg-6">
                                @*<label asp-for="AdminMobile" class="control-label"></label>*@
                                <input asp-for="AdminMobile" class="form-control form-control-custom" placeholder="Mobile Number" />
                                <span asp-validation-for="AdminMobile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-form-sec">
                        <div class="form-group-title">SELECT DEALERSHIP TYPE</div>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="DealershipTypeInd" name="@Html.NameFor(m => m.DealershipType)" class="custom-control-input dealership-type" value="Individual" @Html.Raw(Model.DealershipType == "Individual" ? "checked='checked'" : "")>
                                    <label class="custom-control-label" for="DealershipTypeInd">Individual</label>
                                </div>
                                
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="DealershipTypeGrp" name="@Html.NameFor(m => m.DealershipType)" class="custom-control-input dealership-type" value="Group" @Html.Raw(Model.DealershipType == "Group" ? "checked='checked'" : "")>
                                    <label class="custom-control-label" for="DealershipTypeGrp">Group</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group-title">SELECT AREA MANAGER</div>

                        <div class="form-row mb-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @*<label asp-for="AreaManagerId" class="control-label"></label>*@
                                    <select class="areaManagerDDL areamanager-selectjs form-control form-control-custom" asp-for="AreaManagerId" asp-items="Model.AreaManagers">
                                        <option value="0">Select</option>
                                    </select>
                                    <span asp-validation-for="AreaManagerId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        @if (userDetails.CMSRoleId.HasValue && userDetails.CMSRoleId.Value != (int)CMSRoleTypes.GROUPDEALERADMIN)
                        {
                            <div class="form-row mb-4 grp-dealer" @Html.Raw((Model.DealershipType == "Group" || Model.GroupDealerId > 0) ? "" : "style='display: none'")>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<label asp-for="GroupDealerId" class="control-label"></label>*@
                                        <select class="grpDealerDDL selectpicker form-control form-control-custom" asp-for="GroupDealerId" asp-items="Model.GroupDealers">
                                            <option value="0">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group mb-4">
                        <div class="form-group-title">SHOWROOM IMAGE</div>
                        <div class="form-row">
                            <div class="col">                                
                                <div class="custom-file">
                                    <input asp-for="ImageBlob" class="custom-file-input form-control" style="display: none;" />
                                    <label asp-for="ImageBlob" class="control-label custom-file-label"></label>
                                </div>
                                <span asp-validation-for="ImageBlob" class="text-danger"></span>
                                @if (!string.IsNullOrEmpty(Model.Image))
                                {
                                    <img src="@Url.Content(Model.Image)" style="width: 200px;" />
                                }
                            </div>
                        </div>
                    </div>

                    @*<div class="form-group">
                        <div class="nsc-user">
                            <div class="form-group-title">NSC USER</div>
                            <div class="nsc-tbl">
                                <div class="nsc-cell">
                                    <div class="nsc-text-light">HO</div>
                                    <div class="nsc-text-dark">Kumar Singh</div>
                                </div>
                                <div class="nsc-cell">
                                    <div class="nsc-text-light">Zonal manager</div>
                                    <div class="nsc-text-dark">Amit trivedhi</div>
                                </div>
                                <div class="nsc-cell">
                                    <div class="nsc-text-light">area manager</div>
                                    <div class="nsc-text-dark">Bhavesh Patel</div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="button-wrapper">
                <div class="left-btns">                  

                    <input type="submit" value="Submit" class="btn btn-medium btn-primary mr-2" />
                    <a asp-action="List" class="btn btn-medium btn-outline-primary mr-2">Cancel</a>
                </div>
                <div class="right-btns">
                    <button type="submit" class="btn btn-medium btn-outline-danger mr-2">
                        Delete Dealership
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    <script src="~/js/Dealership/CreateOrUpdate.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/RequiredIf.js"></script>
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        });
        $(".std-selectJs").select2({
            minimumResultsForSearch: -1,
            placeholder: "STD",
            allowClear: true,
        });
        $(".areamanager-selectjs ").select2({
            placeholder: "Select Area Manager",
            allowClear: true,
        });
    </script>
}