﻿@model IEnumerable<VW.MSU.Models.DealershipModel>
@{
    ViewData["Title"] = "List";
}
<div class="list-wrp-header">
    <div class="list-record-count">Dealership (@Model.Count())</div>
    <div class="list-filters">
        @*<a href="#" class="f-box f-box-calender">
            <img src="~/images/icons/calender-icon.svg" alt="calender" />
            <span>03 March, 2019</span>
        </a>*@
        <div class="f-box f-box-search">
            <input type="text" class="form-control form-control-custom" placeholder="Search">
            <button type="submit"><img src="~/images/icons/search-icon.svg" alt="search" /></button>
        </div>
        @*<a href="#" class="f-box f-box-xls">            
            <img src="@Url.Content("~/images/icons/xls.png")" alt="XLS" />
            <span>XLS</span>
        </a>*@
        <a href="@Url.Action("CreateOrUpdate", "Dealership")" class="f-box f-box-btn">
            <span class="btn-icon btn-icon-add btn-icon-add-white"></span>  Create Dealership
        </a>
    </div>
</div>
<div class="list-wrp-main scroller mCustomScrollbar">
    <div class="vw-tbl-list1">
        @if (Model.Count() > 0)
        {
            <div class="vw-row">
                <div class="vw-cell vw-cell-head"> Dealer Code</div>
                <div class="vw-cell vw-cell-head">Dealer</div>
                <div class="vw-cell vw-cell-head">Dealer Phone</div>
                <div class="vw-cell vw-cell-head">Dealer Admin</div>
                <div class="vw-cell vw-cell-head">Dealer Admin Phone</div>
                <div class="vw-cell vw-cell-head">Type</div>
                <div class="vw-cell vw-cell-head">Status</div>
                <div class="vw-cell vw-cell-head">Action</div>
            </div>
            foreach (var item in Model)
            {
                <div class="vw-row">
                    <div class="vw-cell">@item.Code</div>
                    <div class="vw-cell">
                        <div class="tbl-text-dark">@item.Name</div>
                        <div class="tbl-text-light">@item.Location</div>
                    </div>
                    <div class="vw-cell">@item.Mobile, @item.Stdcode-@item.Landline</div>
                    <div class="vw-cell">
                        <div class="tbl-text-dark">@item.AdminFullName</div>
                        <div class="tbl-text-light">@item.AdminEmail</div>
                    </div>
                    <div class="vw-cell">@item.AdminMobile</div>
                    <div class="vw-cell">@item.DealershipType</div>
                    <div class="vw-cell">@Html.Raw(item.IsActive ? "Active" : "Inactive")</div>

                    <div class="vw-cell">
                        @Html.ActionLink("", "CreateOrUpdate", new { id = item.DealershipId }, new { @class = "icon edit-icon" }) <span>|</span>
                        @Html.ActionLink("", "Delete", new { id = item.DealershipId }, new { @class = "icon delete-icon" })
                    </div>
                </div>
            }
        }
        else
        {
            <div class="vw-row-no-data" style="text-align: center;background: #fff;padding: 25px;">
                <div class="vw-cell-no-data ">No data found.</div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script>
        (function ($) {
            $(window).on("load", function () {
                AutoHeight($(".scroller"), 10);
                $(".scroller").mCustomScrollbar({
                    theme: "minimal"
                });

            });
        })(jQuery);
    </script>
}