﻿@model IEnumerable<VW.MSU.Models.UserModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="list-wrp-main scroller mCustomScrollbar">
    <div class="vw-tbl-list1">
        @if (Model.Count() > 0)
        {
            <div class="vw-row">
                <div class="vw-cell vw-cell-head">Fullname</div>
                <div class="vw-cell vw-cell-head">Email</div>
                <div class="vw-cell vw-cell-head">Status</div>
                <div class="vw-cell vw-cell-head">Action</div>
            </div>
            foreach (var item in Model)
            {

                <div class="vw-row">
                    <div class="vw-cell">@item.Fullname</div>
                    <div class="vw-cell">
                        <div class="tbl-text-dark">@item.Email</div>
                    </div>
                    <div class="vw-cell">@Html.Raw(item.IsActive ? "Active" : "Inactive")</div>
                    <div class="vw-cell">
                        @Html.ActionLink("View Service Requests", "UserServiceRequests", new { id = item.UserId }, new { @class = "" })
                    </div>
                </div>
            }
        }
        else
        {
            <div class="vw-row-no-data" style="text-align: center;background: #fff;padding: 25px;">
                <div class="vw-cell-no-data ">No data found.</div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script>
        (function ($) {
            $(window).on("load", function () {
                AutoHeight($(".scroller"), 30);
                $(".scroller").mCustomScrollbar({
                    theme: "minimal"
                });

            });
            $(".selectJs").select2({
                minimumResultsForSearch: -1,
            });
        })(jQuery);
    </script>
}

