﻿@model VW.MSU.Models.ServiceRequestListModel
@using System.Globalization
@{
    ViewData["Title"] = "UserServiceRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var GoogleMapAPIKey = ViewBag.GoogleMapAPIKey;
}
@section styles{
    <style>
        .gm-style .gm-style-iw-c {
            border-radius: 2px !important;
        }
    </style>
  
}
<div class="list-wrp-main scroller">
    <div class="vw-tbl-list1">
        @if (Model.ServiceRequests.Count() > 0)
        {
            <div class="vw-row">
                <div class="vw-cell vw-cell-head">SR Number</div>
                <div class="vw-cell vw-cell-head">Customer Name</div>
                <div class="vw-cell vw-cell-head">VIN Number</div>
                <div class="vw-cell vw-cell-head">Service Date & Time</div>
                <div class="vw-cell vw-cell-head">Action</div>
            </div>
            @foreach (var item in Model.ServiceRequests)
            {
                <div class="vw-row">
                    <div class="vw-cell">@item.Srnumber</div>
                    <div class="vw-cell">
                        <div class="tbl-text-dark">@item.CustomerName</div>
                    </div>
                    <div class="vw-cell">@item.Vinnumber</div>
                    <div class="vw-cell">@Html.Raw(item.ServiceDateTime.ToString("dd/MM/yyyy hh:mm tt", System.Globalization.CultureInfo.InvariantCulture))</div>
                    <div class="vw-cell">
                        @Html.ActionLink("", "CreateOrUpdate", "SR", new { id = item.Srid }, new { @class = "icon edit-icon" })
                        @*<span>|</span>@Html.ActionLink("", "Delete", new { id = item.Srid }, new { @class = "icon delete-icon" })*@
                    </div>
                </div>
            }

            <div class="loader" style="display: none;">
                <div class="sk-cube-grid">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                    <div class="sk-cube sk-cube3"></div>
                    <div class="sk-cube sk-cube4"></div>
                    <div class="sk-cube sk-cube5"></div>
                    <div class="sk-cube sk-cube6"></div>
                    <div class="sk-cube sk-cube7"></div>
                    <div class="sk-cube sk-cube8"></div>
                    <div class="sk-cube sk-cube9"></div>
                </div>
            </div>
        }
        else
        {
            <div class="vw-row-no-data" style="text-align: center;background: #fff;padding: 25px;">
                <div class="vw-cell-no-data ">No data found.</div>
            </div>
        }
    </div>
    @if (Model.ServiceRequests.Count() > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="col-form-label"><b>Location Details</b></div>
                <div class="container">
                    <div id="map" style="width: 100%; height: 300px" class="mb-4"></div>
                </div>
            </div>
        </div>

    }
</div>

@section Scripts {
    <script src="~/js/ServiceAdvisor/UserServiceRequests.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@Html.Raw(GoogleMapAPIKey)&callback=initializeMap&libraries=places" async defer></script>

    <script type="text/javascript">
        var isMapLoaded = false;
        function initializeMap() {
            isMapLoaded = true;
            initMap();
        }
        $(document).ready(function () {
            var serviceModel = JSON.parse('@Html.Raw(Json.Serialize(Model))');
            while (isMapLoaded) {
                if (serviceModel.serviceRequests.length > 0) {
                    if (isMapLoaded) {
                        plotMarkers(serviceModel);
                    } else {
                        setTimeout(function () {
                            plotMarkers(serviceModel);
                        }, 2000)
                    }
                }
                isMapLoaded = false;
                break;
            }
            
        });

    </script>
}