﻿@using Microsoft.AspNetCore.Http
@using VW.MSU.Common.Enums
@inject IHttpContextAccessor HttpContextAccessor
@{
    UserDetails userDetails = (UserDetails)SessionData.GetUserDetails(HttpContextAccessor.HttpContext);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Volkswagen MSU</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/customscroller/jquery.mCustomScrollbar.css" rel="stylesheet" />

    
    <link href="~/fonts/fonts.css" rel="stylesheet" />
    <link href="~/js/plugins/selectjs/select2.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    @RenderSection("styles", required: false) 
    @RenderSection("header", required: false)
</head>
<body class="body_bg">
    <div class="admin-wrapper">
        <header>
            <div class="container" style="height:100%">
                <div class="header-inner">
                    <a href="#" class="hamburger">
                        <img src="@Url.Content("~/images/icons/menu-icon.svg")" alt="menu" /> Menu
                    </a>
                    <div class="navWrapper" style="display: none">
                        <div class="navWrapper-inner">
                            <div class="close-menu">
                                <img src="@Url.Content("~/images/icons/close-icon.svg")" alt="close" /> Close
                                Menu
                            </div>
                            <nav>
                                @if ((userDetails.RoleId.HasValue && userDetails.RoleId.Value > 0) ||
(userDetails.CMSRoleId.HasValue && (userDetails.CMSRoleId.Value == (int)CMSRoleTypes.VWADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.SUPERADMIN)))
                                {
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="GroupDealer" asp-action="List">
                                                Manage Group Dealers
                                                <div class="icon-wrp">
                                                    <img src="~/images/icons/right-caret-icon.png"
                                                         alt="right icon" />
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Models" asp-action="Index">
                                                Manage Models
                                                <div class="icon-wrp">
                                                    <img src="~/images/icons/right-caret-icon.png"
                                                         alt="right icon" />
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                }
                                @if ((userDetails.RoleId.HasValue && userDetails.RoleId.Value > 0) ||
(userDetails.CMSRoleId.HasValue && (userDetails.CMSRoleId.Value == (int)CMSRoleTypes.VWADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.SUPERADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.GROUPDEALERADMIN)))
                                {
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Dealership" asp-action="List">
                                                Manage Dealerships
                                                <div class="icon-wrp">
                                                    <img src="~/images/icons/right-caret-icon.png"
                                                         alt="right icon" />
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                }
                                @if ((userDetails.RoleId.HasValue && userDetails.RoleId.Value > 0) ||
(userDetails.CMSRoleId.HasValue && (userDetails.CMSRoleId.Value == (int)CMSRoleTypes.VWADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.SUPERADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.GROUPDEALERADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.DEALERSHIPADMIN)))
                                {
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="User" asp-action="List">
                                        Manage Users
                                        <div class="icon-wrp">
                                            <img src="~/images/icons/right-caret-icon.png"
                                                 alt="right icon" />
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="SR" asp-action="List">
                                        Manage Service Requests
                                        <div class="icon-wrp">
                                            <img src="~/images/icons/right-caret-icon.png"
                                                 alt="right icon" />
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="ServiceAdvisor" asp-action="List">
                                        Manage Service Adviser Requests
                                        <div class="icon-wrp">
                                            <img src="~/images/icons/right-caret-icon.png"
                                                 alt="right icon" />
                                        </div>
                                    </a>
                                </li>
                            </ul>
                                }

                            </nav>
                            <div class="profile-nav">
                                @if (!string.IsNullOrEmpty(userDetails.Fullname))
                                {

                                    <div class="pn-col">
                                        <img src="~/images/icons/avatar-sample.png" alt="avatar" class="img-fluid" />
                                    </div>
                                    <div class="pn-col">
                                        <div class="pn-name">Welcome @userDetails.Fullname</div>
                                        <div class="pn-role">Super Admin</div>
                                        <div class="pn-role"><a href="@Url.Action("Logout", "Home")">Logout</a></div>
                                    </div>

                                }

                            </div>
                        </div>
                    </div>                  
                </div>
                <span class="logo-row">
                    <span class="logo-image">
                        <img src="@Url.Content("~/images/icons/logo.svg")" alt="logo" />
                    </span>
                </span>
            </div>
        </header>
        <div class="container">
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/js/jquery-3.6.0.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/customscroller/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/plugins/selectjs/select2.min.js"></script>
    <script src="~/js/autoHeight.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="~/js/Common.js"></script>

    <script>
        var baseUrl = "@Url.Content("~/")";
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
