﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Bootstrap core CSS -->
    <link href="~/fonts/fonts.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/vendor/custom_scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <script src="~/vendor/jquery/jquery.js"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("RenderFooter", required: false)
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/custom_scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/vendor/stickybits/stickybits.min.js"></script>
    <script src="~/vendor/select2/select2.full.js"></script>
    <script>
        var baseUrl = "@Url.Content("~/")";
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
