﻿@model IEnumerable<VW.MSU.Models.ServiceRequestModel>
@foreach (var item in Model)
{
    <div class="vw-row">
        <div class="vw-cell">@item.Srnumber</div>
        <div class="vw-cell">
            <div class="tbl-text-dark">@item.CustomerName</div>
        </div>
        <div class="vw-cell">@item.Vinnumber</div>
        <div class="vw-cell">@Html.Raw(item.ServiceDateTime.ToString("dd/MM/yyyy hh:mm tt", System.Globalization.CultureInfo.InvariantCulture))</div>
        <div class="vw-cell">
            @Html.ActionLink("", "CreateOrUpdate", new { id = item.Srid }, new { @class = "icon edit-icon" }) <span>|</span>
            @Html.ActionLink("", "Delete", new { id = item.Srid }, new { @class = "icon delete-icon" })
        </div>
    </div>
}