﻿@using Microsoft.AspNetCore.Http
@using VW.MSU.Common.Enums
@model VW.MSU.Models.ServiceRequestModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    UserDetails userDetails = (UserDetails)SessionData.GetUserDetails(HttpContextAccessor.HttpContext);
    ViewData["Title"] = "Create";
    var GoogleMapAPIKey = ViewBag.GoogleMapAPIKey;
}
@section styles {
    <link rel="stylesheet" href="~/css/jquery-datetimepicker.css" />
}


<div class="create-card">
    <div class="create-wrp-header">
        <div class="create-record-title">
            <a asp-action="List"> <span>&#8592; &nbsp;</span>@Html.Raw(Model.Srid > 0 ? "Update" : "Create") Service Request</a>
        </div>
    </div>
    <div class="create-form-main">
        <form id="CreateOrUpdateForm" asp-action="CreateOrUpdate" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="text-danger">@Model.ErrorMessage</div>
            }
            <input asp-for="Srid" type="hidden" />
            <div class="form-group mb-form-sec">
                <div class="form-group-title">CAR DETAILS</div>
                <div class="form-row mb-4">
                    <div class="col-md-3">
                        @*<label asp-for="Vinnumber" class="control-label vw-label"> Vin Number </label>*@
                        <input asp-for="Vinnumber" class="form-control form-control-custom" placeholder="Vin Number" />
                        <span asp-validation-for="Vinnumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        @*<label class="control-label">&nbsp;</label>*@
                        <button type="button" class="verify btn btn-primary pt-1 pb-1">Verify</button>
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col-md-3">
                        @*<label asp-for="Srnumber" class="control-label">Sr Number</label>*@
                        <input asp-for="Srnumber" class="form-control form-control-custom" placeholder="Sr Number" />
                        <span asp-validation-for="Srnumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        @*<label asp-for="RegNum" class="control-label">Reg Numer</label>*@
                        <input asp-for="RegNum" class="form-control form-control-custom" placeholder="Reg Numer" />
                        <span asp-validation-for="RegNum" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3">
                        @*<label asp-for="VehicleModel" class="control-label"></label>*@
                        <select class="grpModels form-control vehicleModelId" asp-for="VehicleModelId" asp-items="Model.Models">
                            <option value="0">Select</option>
                        </select>
                        <span asp-validation-for="VehicleModelId" class="text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        @*<label asp-for="VariantName" class="control-label"></label>*@
                        <input asp-for="VariantName" class="form-control form-control-custom pl-3" readonly placeholder="Variant Name" />
                    </div>
                </div>
            </div>
            <div class="form-group mb-form-sec">
                <div class="form-group-title">CUSTOMER DETAILS</div>
                <div class="form-row mb-3">
                    <div class="col-lg-3">
                        @*<label asp-for="CustomerName" class="control-label"></label>*@
                        <input asp-for="CustomerName" class="form-control form-control-custom" placeholder="Customer Name" />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        @*<label asp-for="ServiceDate" class="control-label"></label>*@
                        <input asp-for="ServiceDate" class="servicedate form-control form-control-custom" placeholder="Service Date" />
                        <span asp-validation-for="ServiceDate" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        @*<label asp-for="OdometerReading" class="control-label"></label>*@
                        <input asp-for="OdometerReading" class="form-control form-control-custom" placeholder="Odometer Reading" />
                        <span asp-validation-for="OdometerReading" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-lg-3">
                        @*<label asp-for="ServiceType" class="control-label"></label>*@
                        <input asp-for="ServiceType" class="form-control form-control-custom" placeholder="Service Type" />
                        <span asp-validation-for="ServiceType" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        @*<label class="control-label">Search Location:</label>*@
                        <input id="SearchLocation" name="SearchLocation" class="form-control form-control-custom" placeholder="Search Location" />
                    </div>
                </div>
            </div>


            <div class="form-group mb-form-sec">
                <div class="form-group-title">LOCATION DETAILS</div>
                <div class="form-row">
                    <div id="map" style="width: 100%; height: 300px" class="mb-4"></div>
                </div>
                <div class="form-row">
                    <div class="col-lg-3">
                        <label asp-for="Lat" class="control-label"></label>
                        <input asp-for="Lat" class="form-control form-control-custom" readonly />
                        <span asp-validation-for="Lat" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label asp-for="Lng" class="control-label"></label>
                        <input asp-for="Lng" class="form-control form-control-custom" readonly />
                        <span asp-validation-for="Lng" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group mb-form-sec">
                <div class="form-group-title">Service Details</div>
                <div class="form-row">
                    <div class="col-lg-3">
                        <div class="form-check">
                            <div class="custom-control custom-checkbox mb-3">
                                <input class="form-check-input custom-control-input" asp-for="IsOilChange" />
                                <label class="custom-control-label" for="IsOilChange">Oil Change</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-check">
                            <div class="custom-control custom-checkbox mb-3">
                                <input class="form-check-input custom-control-input" asp-for="IsBrakes" />
                                <label class="custom-control-label" for="IsBrakes">Brakes</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-3">
                        <div class="form-check">
                            <div class="custom-control custom-checkbox mb-3">
                                <input class="form-check-input custom-control-input" asp-for="IsTyreCheck" />
                                <label class="custom-control-label" for="IsTyreCheck">Tyre Check</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-check">
                            <div class="custom-control custom-checkbox mb-3">
                                <input class="form-check-input custom-control-input" asp-for="IsBatteryCheck" />
                                <label class="custom-control-label" for="IsBatteryCheck">Battery Check</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    @if (userDetails.CMSRoleId.HasValue && (userDetails.CMSRoleId.Value == (int)CMSRoleTypes.SUPERADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.VWADMIN))
                    {
                        <div class="col-md-6">
                            <div class="form-group">
                                @*<label asp-for="GroupDealerId" class="control-label"></label>*@
                                <select class="grpDealerDDL form-control selectpicker" asp-for="GroupDealerId" asp-items="Model.GroupDealers" onchange="GetDealershipsByGroupDealer()">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                    }
                    else
                    {
                        <input asp-for="GroupDealerId" type="hidden" />
                    }
                    @if (userDetails.CMSRoleId.HasValue && (userDetails.CMSRoleId.Value == (int)CMSRoleTypes.SUPERADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.VWADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.GROUPDEALERADMIN))
                    {
                        <div class="col-md-6">
                            <div class="form-group">
                                @*<label asp-for="DealershipId" class="control-label"></label>*@
                                <select class="dealershipDDL form-control selectpicker" asp-for="DealershipId" asp-items="Model.Dealerships">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @*<label asp-for="DealershipId" class="control-label"></label>*@
                                <select class="dealershipDDL form-control selectpicker" asp-for="Assignee" asp-items="Model.ServiceAdvisers">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                    }
                    else
                    {
                        <input asp-for="DealershipId" type="hidden" />
                        <input asp-for="Assignee" type="hidden" />
                    }

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-medium btn-primary mr-2" />
                <a asp-action="List" class="btn btn-medium btn-outline-primary mr-2">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.datetimepicker.js"></script>
    <script src="~/js/SR/CreateOrUpdate.js"></script>
    <script src="~/js/Common.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/RequiredIf.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@Html.Raw(GoogleMapAPIKey)&callback=initMap&libraries=places" async defer></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".verify").on("click", function (e) {
                var vin = $("#@Html.IdFor(m => m.Vinnumber)").val();
                if (vin == '')
                    alert("Please enter valid VIN number");

                var response = VerifyVIN(vin);
                if (response != null && response.result == "success") {
                    $("#@Html.IdFor(m => m.CustomerName)").val(response.vinData.customerMasterData.vW_CustomerName__c);

                    if ((typeof response.vinData.vehicleMasterData.vW_ModelDesc__c) !== 'undefined' && response.vinData.vehicleMasterData.vW_ModelDesc__c != '') {
                        $.each($("#@Html.IdFor(m => m.VehicleModelId) option"), function (index, ele) {
                            if (ele.innerHTML.toLowerCase() == response.vinData.vehicleMasterData.vW_ModelDesc__c.toLowerCase()) {
                                $(ele).prop("selected", true);
                                $('.selectpicker').selectpicker('refresh');
                            }
                        });
                    }

                    $("#@Html.IdFor(m => m.VariantName)").val(response.vinData.vehicleMasterData.variant_name__c);
                    if ((typeof response.vinData.Service_History_Data) !== 'undefined') {
                        $("#@Html.IdFor(m => m.RegNum)").val(response.vinData.service_History_Data.vW_Registration_No__c);
                    }
                }
                else if (response.error == "NOT_FOUND") {
                    alert("Invalid VIN or VIN not found");
                }
                else {
                    alert("Invalid VIN or VIN not found");
                }

                e.preventDefault();
                return false;
            });



            $(".vehicleModelId").select2({
                placeholder: "Select Vehicle Model Id",
                allowClear: true,
            });$(".grpDealerDDL").select2({
                placeholder: "Select Group Dealer Id",
                allowClear: true,
            });
            $(".grpDealerDDL").select2({
                placeholder: "Select Dealership Id",
                allowClear: true,
            });
        });
    </script>
}