﻿@model VW.MSU.Models.ServiceRequestListModel
@using System.Globalization
@{
    ViewData["Title"] = "List";
}
@section styles {
    <link rel="stylesheet" href="~/css/jquery-datetimepicker.css" />
}

<div class="list-wrp-header">
    <div class="list-record-count">Service Requests (@Model.TotalSRs)</div>
    <div class="list-filters">
        <a href="#" class="f-box f-box-calender">
            <img src="~/images/icons/calender-icon.svg" alt="calender" />
            <span>@Model.ServiceDate.ToString("dd MMM, yyyy", CultureInfo.InvariantCulture)</span>
        </a>
        <div class="f-box f-box-search">
            <input type="text" class="form-control form-control-custom" placeholder="Search">
            <button type="submit"><img src="~/images/icons/search-icon.svg" alt="search" /></button>
        </div>
        <a href="@Url.Action("ExportToExcel", "SR", new { serviceDate = Model.ServiceDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) })" class="f-box f-box-xls" target="_blank">
            <img src="@Url.Content("~/images/icons/xls.png")" alt="XLS" />
            <span>XLS</span>
        </a>
        <a href="@Url.Action("CreateOrUpdate", "SR")" class="f-box f-box-btn">
            <span class="btn-icon btn-icon-add btn-icon-add-white"></span> Create Service Requests
        </a>
        <input type="hidden" name="pageIndex" value="1" />
        <input type="hidden" name="serviceDateCur" value="@Model.ServiceDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)" />
    </div>
</div>
<div class="list-wrp-main scroller">
    <div class="vw-tbl-list1">
        @if (Model.ServiceRequests.Count() > 0)
        {
            <div class="vw-row">
                <div class="vw-cell vw-cell-head">SR Number</div>
                <div class="vw-cell vw-cell-head">Customer Name</div>
                <div class="vw-cell vw-cell-head">VIN Number</div>
                <div class="vw-cell vw-cell-head">Service Date & Time</div>
                <div class="vw-cell vw-cell-head">Action</div>
            </div>
            @*foreach (var item in Model.ServiceRequests)
                {
                    <div class="vw-row">
                        <div class="vw-cell">@item.Srnumber</div>
                        <div class="vw-cell">
                            <div class="tbl-text-dark">@item.CustomerName</div>
                        </div>
                        <div class="vw-cell">@item.Vinnumber</div>
                        <div class="vw-cell">@Html.Raw(item.ServiceDateTime.ToString("dd/MM/yyyy hh:mm tt", System.Globalization.CultureInfo.InvariantCulture))</div>
                        <div class="vw-cell">
                            @Html.ActionLink("", "CreateOrUpdate", new { id = item.Srid }, new { @class = "icon edit-icon" }) <span>|</span>
                            @Html.ActionLink("", "Delete", new { id = item.Srid }, new { @class = "icon delete-icon" })
                        </div>
                    </div>
                }*@
            await Html.RenderPartialAsync("_SRRenderRows", Model.ServiceRequests);
            <div class="loader" style="display: none;">
                <div class="sk-cube-grid">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                    <div class="sk-cube sk-cube3"></div>
                    <div class="sk-cube sk-cube4"></div>
                    <div class="sk-cube sk-cube5"></div>
                    <div class="sk-cube sk-cube6"></div>
                    <div class="sk-cube sk-cube7"></div>
                    <div class="sk-cube sk-cube8"></div>
                    <div class="sk-cube sk-cube9"></div>
                </div>
            </div>
        }
        else
        {
            <div class="vw-row-no-data" style="text-align: center;background: #fff;padding: 25px;">
                <div class="vw-cell-no-data ">No data found.</div>
            </div>
        }
    </div>
</div>
<form method="post" id="ListForm" asp-action="List">
    <input type="hidden" name="serviceDate" id="serviceDate" />
</form>
<div id="data-list-1" class="tabl-detail-wrap">
    <div class="tbl-detail-data">
        <div class="tbl-dd-header">
            <div class="tbl-dd-light-text">
                Service ID
            </div>
            <div class="tbl-dd-dark-text">
                <strong>190001</strong>
            </div>
        </div>
        <section class="tbl-dd-sec">
            <div class="tbl-sec-title">
                <strong>Basic</strong>
            </div>
            <div class="tbl-sec">
                <div class="tbl-sec-row">
                    <div class="tbl-sec-cell">
                        <div class="tbl-dd-light-text">
                            Dealership
                        </div>
                        <div class="tbl-dd-dark-text">
                            Volkswagen Pune
                        </div>
                    </div>
                    <div class="tbl-sec-cell">
                        <div class="tbl-dd-light-text">
                            KVPS
                        </div>
                        <div class="tbl-dd-dark-text">
                            41571
                        </div>
                    </div>
                </div>
                <div class="tbl-sec-row">
                    <div class="tbl-sec-cell">
                        <div class="tbl-dd-light-text">
                            Location
                        </div>
                        <div class="tbl-dd-dark-text">
                            Wakad
                        </div>
                    </div>
                    <div class="tbl-sec-cell">
                        <div class="tbl-dd-light-text">
                            Revenue
                        </div>
                        <div class="tbl-dd-dark-text">
                            ₹ 1220
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="tbl-dd-sec">
            <div class="tbl-sec-title">
                <strong>Service</strong>
            </div>
            <div class="tbl-sec">
                <div class="tbl-sec-row">
                    <div class="tbl-sec-cell">
                        <div class="tbl-dd-light-text">
                            Dealership
                        </div>
                        <div class="tbl-dd-dark-text">
                            Volkswagen Pune
                        </div>
                    </div>
                    <div class="tbl-sec-cell">
                        <div class="tbl-dd-light-text">
                            KVPS
                        </div>
                        <div class="tbl-dd-dark-text">
                            41571
                        </div>
                    </div>
                </div>
                <div class="tbl-sec-row">
                    <div class="tbl-sec-cell">
                        <div class="tbl-dd-light-text">
                            Location
                        </div>
                        <div class="tbl-dd-dark-text">
                            Wakad
                        </div>
                    </div>
                    <div class="tbl-sec-cell">
                        <div class="tbl-dd-light-text">
                            Revenue
                        </div>
                        <div class="tbl-dd-dark-text">
                            ₹ 1220
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.datetimepicker.js"></script>
    <script>
        var stopFetch = false, loading = false;

        function FetchNextSRs() {
            if (!stopFetch) {
                $.ajax({
                    type: 'POST',
                    url: baseUrl + 'SR/FetchNextSRs',
                    data: {
                        "pageIndex": (parseInt($("input[name='pageIndex']").val()) + 1),
                        "serviceDate": $("input[name='serviceDateCur']").val()
                    },
                    async: false,
                    cache: false,
                    success: function (response) {
                        if (response.length <= 0)
                            stopFetch = true;
                        loading = false;
                        $("input[name='pageIndex']").val((parseInt($("input[name='pageIndex']").val()) + 1));
                        $(".vw-tbl-list1").append($(response));
                    },
                    complete: function () {
                        $(".loader").hide();
                    },
                    error: function () {
                        $(".loader").hide();
                    }
                });
            }
        }

        (function ($) {
            $(window).on("load", function () {
                AutoHeight($(".scroller"), 10);
                $(".scroller").mCustomScrollbar({
                    theme: "minimal",
                    callbacks: {
                        onTotalScroll: function () {
                            if (!stopFetch && !loading) {
                                loading = true;
                                $(".loader").show();
                                FetchNextSRs();//call function to load content when scroll reachs PAGE bottom
                            }
                        }
                    }
                });
            });

            // table row popup for detail view
            var modal = $("#data-list-1");
            var btn = $(".vw-cell");

            btn.on('click', function (e) {
                if (e.target.nodeName == 'A' || $(this).hasClass("vw-cell-head")) return;
                modal.fadeIn();
            });

            $('.tabl-detail-wrap').on('click', function (e) {
                if (e.target !== this)
                    return;
                $(this).fadeOut()
            });

            $(".f-box-calender").datetimepicker({
                format: 'd/m/Y',
                formatDate: 'd/m/Y',
                timepicker: false,
                validateOnBlur: false,
                onShow: function () {
                },
                onSelectDate: function (ct, i) {
                    var date = ("0" + ct.getDate()).slice(-2) + "/" + ("0" + (ct.getMonth() + 1)).slice(-2) + "/" + ct.getFullYear();
                    $("#ListForm #serviceDate").val(date);
                    $("#ListForm").submit();
                }
            })
        })(jQuery);
    </script>
}