.admin-wrapper {
  min-height: 100vh;
  main {
    padding: 0 30px;
  }
  .navWrapper {
    .navWrapper-inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      nav {
        margin-bottom: 15px;
      }
    }
    .profile-nav {
      display: flex;
      width: 100%;
      .pn-col {
        &:first-child {
          width: 60px;
          height: 60px;
          overflow: hidden;
          border-radius: 50%;
          margin-right: 20px;
          img {
            width: 100%;
          }
        }
        .pn-name {
          font-size: 20px;
          color: #fff;
          font-family: "VW Head";
        }
        .pn-role {
          font-size: 16px;
          color: #fff;
          font-family: "VW Text";
          a {
            font-size: 16px;
            color: #fff;
            font-family: "VW Text";
            text-decoration: none;
          }
        }
      }
    }
    position: fixed;
    overflow-y: auto;
    background: transparent linear-gradient(122deg, #023d73 0%, #011f51 100%) 0%
      0% no-repeat padding-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 80px;
    z-index: 2;
    .close-menu {
      font-size: 20px;
      color: #fff;
      font-family: "VW Text";
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      line-height: 1.1;
      margin-bottom: 15px;
      img {
        margin-right: 12px;
        margin-left: -12px;
        max-width: 18px;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      max-width: 400px;
      li {
        a {
          font-size: 20px;
          color: #fff;
          font-family: "VW Head";
          text-decoration: none;
          padding: 20px;
          display: block;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .icon-wrp {
            width: 14px;
          }
          img {
            max-width: 100%;
          }
        }
      }
    }
  }

  .list-wrp-header {
    display: flex;
    justify-content: space-between;
    .list-record-count {
      font-size: 20px;
      font-family: "VW Head";
      font-weight: bold;
      color: $primary-color;
    }

    .f-box {
      background-color: #fff;
      padding: 10px;
      border: 1px solid #d4dade;
      height: 40px;
      display: inline-flex;
      margin-left: 11px;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      align-items: stretch;
      vertical-align: top;
      &-calender {
        line-height: normal;
        color: $primary-color;
        img {
          margin-right: 10px;
        }
      }
      &-xls {
        vertical-align: middle;
        display: inline-flex;
        align-items: center;
        img {
          margin-right: 5px;
        }
        span {
          vertical-align: middle;
        }
      }
      &-btn {
        background-color: $primary-color;
        line-height: 1.1;
        color: #fff;
        padding: 10px 15px;
        &:focus,
        &:hover {
          background-color: $secondry-color;
        }
      }
      button {
        line-height: 0;
        cursor: pointer;
        border: 0;
        background: none;
        outline: none;
        &:focus-visible,
        &:focus {
          border: 0;
          background: none;
        }
      }

      &-text {
        font-family: "VW Head";
        font-weight: bold;
        color: $primary-color;
        line-height: normal;
        img {
          margin-right: 10px;
        }
      }
      img {
        max-width: 18px;
      }
      &-search {
        padding: 7px 10px;
        vertical-align: top;
        .form-control-custom {
          margin-left: 10px;
        }
      }
      &-filter {
        padding: 0;
        .select-label {
          padding: 6px 12px;
          color: #d2d2d2;
        }

        .select2-container--default .select2-selection--single {
          border-bottom: 0;
        }
      }
    }
  }
  header {
    height: 68px;
    position: relative;
    width: 100%;
    margin-bottom: 90px;
    .header-inner {
      height: 100%;
      padding: 0 30px;
      display: flex;
      align-items: center;
    }
  }
  .hamburger {
    color: $primary-color;
    font-size: 18px;
    line-height: 1.1;
    display: flex;
    align-items: center;
    text-decoration: none;
    img {
      width: 17px;
      margin-right: 10px;
    }
  }
  .logo-row {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -28px;
    width: 100%;
    left: 0;

    .logo-image {
      display: inline-block;
      padding: 0 15px;
    }
    &:before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $primary-color;
      display: inline-block;
    }
    &:after {
      content: "";
      width: 20%;
      height: 2px;
      background-color: $primary-color;
      display: inline-block;
    }
  }
}
