.angle-view {
  overflow: hidden;
  max-width: 600px;
  margin: 50px auto;
  //   border: 1px solid #cecece;

  .splide__arrows {
    text-align: center;
    margin-top: 50px;
    .btn {
      background-color: $primary-color;
    }
  }
}

.angle-view ul,
#angle-view li {
  margin: 0;
  padding: 0;
}

.angle-view li {
  list-style: none;
}

.angle-view ul {
  max-width: 600px;
  //   height: 330px;
}

.angle-view img {
  width: 100%;
  display: block;
}

.sign-wrap {
  display: block;
  text-align: center;
  .sign {
    display: inline-block;
    vertical-align: top;
    margin: 20px 30px;

    .sign-image-wrap {
      box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 30px 0px;
      width: 207px;
      height: 89px;
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    h6 {
      margin-bottom: 15px;
      font-family: "VW Head";
      font-weight: bold;
      font-size: 14px;
      color: $primary-color;
    }
  }
}

.yellow-dot {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 209, 48, 1);
  border-radius: 50%;
  display: inline-block;
}
.red-dot {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 51, 92, 1);
  border-radius: 50%;
  display: inline-block;
}

.car-service-legend {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
  li {
    display: inline-block;
    &:first-child {
      margin-right: 40px;
    }
  }
}

.car-serv-wrp {
  position: relative;
  overflow: hidden;
  .red-dot,
  .yellow-dot {
    position: absolute;
    top: 0;
  }
}
