.btn {
  //   width: 180px;
  padding: 0.675rem 0.75rem;
  border-radius: 0;
  font-family: "VW Head";
  text-transform: capitalize;
  font-weight: bold;
  &-primary {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}
.btn:hover,
.btn-primary:hover {
  color: #fff;
  background-color: $secondry-color;
  border-color: $secondry-color;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}
.btn-outline-primary {
  color: $primary-color;
  border-color: $primary-color;
}
.btn-medium {
  width: 150px;
}
