html {
  font-size: 16px;
  font-family: "VW Head", Arial, Helvetica, sans-serif;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "VW Text", Arial, Helvetica, sans-serif;
  height: 100%;
}
.font-18-bold {
  font-size: 1.2857rem;
  font-weight: bold;
}

.admin-wrapper {
  background-color: $body-bg-grey;
  display: inline-block;
  width: 100%;
}

.tobii__slide .tobii-html {
  background: #fff;
  padding: 0;
  max-width: 800px;
}

.create-card {
  padding: 30px;
  background-color: #fff;
  margin: 30px;
  font-family: "VW Head";
  .create-record-title {
    font-size: 16px;
    color: $primary-color;
    font-family: "VW Head";
    margin-bottom: 30px;
    a {
      font-size: 18px;
      color: $primary-color;
    }
  }
  .form-group-title {
    color: $secondry-color;
    text-transform: uppercase;
    // font-weight: bold;
    margin-bottom: 15px;
    font-size: 14px;
  }
}

.nsc-tbl {
  display: table;
  width: 100%;
  background-color: $body-bg-grey;
  padding: 20px;
  border-radius: 6px;
  max-width: 522px;
  .nsc-cell {
    display: table-cell;
    text-transform: capitalize;
    width: 33%;
    .nsc-text-light {
      font-size: 12px;
      color: #ababab;
      font-family: "VW Head";
    }
    .nsc-text-dark {
      font-size: 14px;
      color: $primary-color;
      font-family: "VW Head";
    }
  }
}

.text-grey-small {
  color: #ababab;
  font-family: "VW Head";
  font-size: 12px;
}

.edit-icon {
  background: url(../images/icons/edit-light-blue.png) no-repeat center;
  &:focus,
  &:hover {
    background: url(../images/icons/edit-dark-blue.png) no-repeat center;
  }
}
.delete-icon {
  background: url(../images/icons/trash-light-blue.png) no-repeat center;
  &:focus,
  &:hover {
    background: url(../images/icons/trash-dark-blue.png) no-repeat center;
  }
}
.view-icon {
    background: url(../images/icons/right-caret-icon.png) no-repeat center;
}

.icon {
  width: 20px;
  height: 20px;
  background-size: contain !important;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
button.delete-icon {
  border: 0;
  width: 24px;
  height: 24px;
  outline: none;
  &:focus {
    border: 0;
  }
}
.add-btn {
  display: flex;
  align-items: center;

  &:focus,
  &:hover {
    .btn-icon-add {
      background: url(../images/icons/plus-solid.png) no-repeat center;
    }
  }
}
.f-box-btn {
  &:focus,
  &:hover {
    background-color: $secondry-color;
    .btn-icon-add {
      background: url(../images/icons/plus-solid.png) no-repeat center;
    }
  }
}
.btn-icon {
  &-add {
    background: url(../images/icons/plus-light-blue.png) no-repeat center;
    &-white {
      background: url(../images/icons/plus-white.png) no-repeat center;
    }
  }
  width: 16px;
  height: 16px;
  background-size: contain !important;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: $secondry-color;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.loader {
  width: 100%;
  background: rgba(255, 255, 255, 0.48);
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
@media screen and (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
}
