.dash-card {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 30px;
  .dash-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .dash-card-data-row {
    display: flex;
    > div {
      flex: 1;
      padding: 0 32px;
      border-right: 1px solid #d2d2d2;
      margin: 15px 0px;
      &:last-child {
        border-right: 0;
      }
    }
  }
  .dash-card-col-left {
    display: flex;
  }
  .dash-card-col-right {
    margin-left: auto;
  }

  .dash-card-title {
    font-size: 20px;
    font-weight: 500;
    margin-right: 7px;
  }

  .dash-filter-wrp {
    display: flex;
    border: 1px solid #d2d2d2;
    > button {
      min-width: 50px;
      text-align: center;
      padding: 3px 7px;
      margin: 2px;
      &.active {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
  .select-wrp {
    height: 43px;
    border: 1px solid #d2d2d2;
    display: inline-flex;
    align-items: center;
    margin: 5px;
    padding: 5px 5px 5px 10px;
    select {
      border: 0;
    }
    > span {
      margin-right: 20px;
    }
    .select2-container--default .select2-selection--single {
      border-bottom: 0;
    }
  }
  .dash-data-label {
    font-size: 18px;
  }
  .dash-data-value {
    font-size: 42px;
    font-weight: 500;
  }
}

.dash-card-header {
  display: flex;
  align-items: center;
  .dash-card-header-title {
    font-size: 20px;
    font-weight: 500;
    margin-right: 7px;
  }
  .dash-card-header-filter {
    margin-left: auto;
    display: flex;
    align-items: center;
    .chart-legend {
      display: inline-block;
      margin-right: 20px;
      &:before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: red;
        border-radius: 50%;
        margin-right: 10px;
      }
      &.vwa {
        &:before {
          background-color: rgb(0, 177, 235);
        }
      }
      &.msu {
        &:before {
          background-color: rgb(0, 87, 167);
        }
      }
    }
  }
}

#chartdiv {
  width: 100%;
  height: 500px;
}
