.vw-label {
  font-size: 12px;
  color: $text-light;
}

.form-control.form-control-custom {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  padding: 0.375rem 0;
}

.form-control.form-control-custom:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none;
  border-bottom: 2px solid $primary-color;
}
.mb-form-sec {
  margin-bottom: 50px;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $text-light;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $text-light;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $text-light;
}
.custom-checkbox {
  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: $primary-color;
    background-color: $primary-color;
  }
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $primary-color;
  background-color: $primary-color;
}
.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.contry-code {
  flex: 0 0 80px;
}
.select2-container .select2-selection--single {
  height: calc(1.5em + 0.75rem + 2px);
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 36px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__clear,
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 36px;
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #d2d2d2;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $primary-color;
}

.button-wrapper {
  display: flex;
  .right-btns {
    margin-left: auto;
  }
}
