.vw-header {
  // margin-bottom: 40px;
  &-pagetitle {
    background: rgb(7, 67, 166);
    background: linear-gradient(
      90deg,
      rgba(7, 67, 166, 1) 0%,
      rgba(0, 30, 80, 1) 32%
    );
    h1 {
      margin-bottom: 0;
    }
    display: flex;
    padding: 18px 20px;
    align-items: center;
    .vw-header-logo {
      margin-left: auto;
      position: relative;
      width: calc(100% - 300px);
      text-align: right;
      &:after {
        content: "";
        width: 80%;
        height: 2px;
        background: #fff;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
      }
      &:before {
        content: "";
        width: 20%;
        height: 2px;
        background: #fff;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
      }
      img {
        max-width: 54px;
        width: 100%;
      }
      &-link {
        background-color: $primary-color;
        margin-right: 10%;
        position: relative;
        z-index: 1;
        padding: 12px;
      }
    }
  }
}
