.tobii-zoom__icon {
  display: none;
}
.vw-pro-detail {
  margin-bottom: 40px;
  margin-top: 40px;
}
.mobile-task-images,
.mobile-modal-header,
.mobile-car-result,
.mobile-car-con-value {
  display: none;
}
.vw-car-details-tbl {
  display: table;
  width: 100%;
  font-family: "VW Head";

  .vw-car-details-cell {
    display: table-cell;
    padding: 5px;
    &:first-child {
      width: 40%;
      color: #6a767d;
    }
    width: 60%;
    color: $primary-color;
  }
}
.vw-car-name {
  padding: 15px 5px;
  display: block;
  color: $primary-color;
  font-family: "VW Head";
  font-weight: bold;
}
.vw-d-g {
  display: block;
  flex-wrap: wrap;
}
.tobii-zoom {
  border: 0;
  box-shadow: none;
  display: inline-block;
  position: relative;
  text-decoration: none;
  width: 100%;
  overflow: hidden;
  margin: 0%;
  img {
    width: 100%;
  }
}
.splide__slide__row {
  .tobii-zoom {
    display: block;
  }
}

.vw-tbl {
  display: table;
  width: 100%;

  &-row {
    display: table-row-group;
    &:nth-child(odd) {
      .vw-tbl-cell {
        background-color: $tbl-light-grey;
      }
    }
    .vw-tbl-cell.vw-tbl-cell-head {
      background-color: $tbl-head-grey;
      color: #fff;
      text-transform: capitalize;
    }
  }

  &-cell {
    display: table-cell;
    border: 1px solid #fff;
    padding: 7px 10px;
    vertical-align: top;
    color: $primary-color;
    width: 16%;
    &:last-child {
      width: 45%;
    }
    &:nth-child(2) {
      width: 1%;
    }
    .status {
      &-yellow {
        background: url(../images/icons/tick-yellow.svg) no-repeat center;
      }
      &-green {
        background: url(../images/icons/tick-green.svg) no-repeat center;
      }
      &-red {
        background: url(../images/icons/tick-red.svg) no-repeat center;
      }
      background: #d2d2d2 no-repeat center;
      background-size: contain;
      width: 18px;
      height: 18px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .img-wrp {
    .lightbox {
      max-width: 70px;
      .tobii-zoom__icon {
        display: none;
      }
    }
    img {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 991px) {
  body.active {
    overflow: hidden;
  }
  .vw-pro-detail {
    margin-top: 0;
  }
  .mobile-task-images,
  .mobile-modal-header,
  .mobile-car-result,
  .mobile-car-con-value {
    display: block;
  }
  .mobile-task-title {
    background-color: rgba(106, 118, 125, 1);
    color: #fff;
    font-family: "VW Head";
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
  }
  .mobile-task-images {
    .img-wrp {
      display: flex;
      flex-wrap: wrap;
      a {
        width: 31%;
        margin: 1%;
      }
    }
  }
  .vw-tbl {
    display: table;
    width: 100%;
    background: #fff;
    margin-top: 20px;
  }
  .tabcontent {
    display: none;
    padding: 0 20px 20px 20px;
    border: 1px solid #ccc;
    border-top: none;
    position: fixed;
    top: 0;
    background: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    .vw-tbl-cell {
      font-size: 14px;
    }
    .vw-tbl-cell-head {
      font-size: 14px;
    }
  }
  .vw-tbl-cell:last-child {
    display: none;
  }
  .vw-car-name {
    padding: 15px 5px;
    display: block;
    color: #fff;
    position: absolute;
    top: 25px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 46px;
    text-align: center;
  }
  .vw-header {
    display: none;
  }
  .product-details {
    background-color: #fff;
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .vw-pro-detail {
    position: relative;
    background-color: #001e50;
    padding-top: 100px;

    .row {
      margin: 0;
    }
  }
  .splide__slide {
    padding: 10px;

    .tobii-zoom {
      border-radius: 20px;
    }
  }

  .mobile-card {
    // position: absolute;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    top: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    order: 1;
    margin-bottom: -156px;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 30px 0px;

    // border: 1px solid;
  }

  .tab {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 30px 0px;
    margin-top: 200px;
    border-radius: 15px;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .tab button {
    padding: 15px;
    width: 100%;
    text-align: left;
    color: $primary-color;
    border-bottom: 1px solid #dfe4e8;
    &:last-child {
      border-bottom: 0;
    }

    .b,
    .a {
      fill: $primary-color;
    }
    .b {
      stroke: $primary-color;
    }
    svg {
      margin-right: 15px;
    }
  }
  .mobile-modal-header {
    padding: 32px 15px 32px 0;
    text-align: center;
    position: relative;
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #d2d2d2;

    .modal-title {
      font-size: 18px;
      font-family: "VW Head";
      font-weight: bold;
      text-transform: capitalize;
    }
  }
  .close-modal {
    width: 22px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    img {
      width: 100%;
    }
  }

  .mobile-task-images {
    margin-top: 20px;
  }
  .mobile-car-result {
    display: block;
    border: 1px solid #000;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    .car-d-result {
      display: flex;
      align-items: center;

      .car-d-result-icon {
        margin-right: 10px;

        svg {
          .a {
            fill: #000;
          }
          .b {
            stroke: #000;
          }
        }
      }
      .car-d-result-title {
        font-size: 14px;
        line-height: 1.1;
        font-family: "VW Text";
        font-weight: bold;
      }
    }
    .car-d-result-percent {
      font-family: "VW Head";
      line-height: 1;
      font-size: 28px;
      span {
        font-size: 14px;
      }
    }
    &.result-green {
      border: 1px solid rgba(0, 201, 113, 1);
      background-color: rgba(0, 201, 113, 0.05);
      color: rgba(0, 201, 113, 1);

      .car-d-result .car-d-result-icon svg .a {
        fill: rgba(0, 201, 113, 1);
      }
      .car-d-result .car-d-result-icon svg .b {
        stroke: rgba(0, 201, 113, 1);
      }
    }
    &.result-red {
      border: 1px solid rgba(255, 51, 92, 1);
      background-color: rgba(255, 51, 92, 0.05);
      color: rgba(255, 51, 92, 1);

      .car-d-result .car-d-result-icon svg .a {
        fill: rgba(255, 51, 92, 1);
      }
      .car-d-result .car-d-result-icon svg .b {
        stroke: rgba(255, 51, 92, 1);
      }
    }
  }
  .btn-wrap-link {
    display: flex;
    justify-content: space-between;
    .mobile-car-con-value {
      display: flex;
      align-items: center;
      &.result-red {
        color: rgba(255, 51, 92, 1);
      }
      &.result-green {
        color: rgba(0, 176, 240, 1);
      }
      img {
        width: 14px;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: "767px") {
  .tobii__btn--close {
    top: 1.88889em;
  }
  .tobii__btn svg {
    height: 2.33333em;
  }
  .tabcontent .vw-tbl-cell {
    font-size: 12px;
  }
  .mobile-card {
    padding: 20px;
    width: 100%;
  }
  .tab {
    margin-top: 185px;
  }
}
