.login-wrapper {
  min-height: 100vh;
  background: $primary-color;

  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login-logo {
    text-align: center;
  }
  .login-inner {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    .form-wrapper {
      background-color: #fff;
      width: 350px;
      margin: auto;
      padding: 20px;
      padding-top: 0;
      border-radius: 6px;
      .form-group {
        label {
          color: #000;
        }
      }
    }
  }
  .login-info {
    text-align: center;
    h1 {
      font-size: 100px;
      text-transform: capitalize;
      color: #000;
      opacity: 0.1;
      font-weight: bold;
      line-height: 1;
    }
    h3 {
      font-size: 60px;
      text-transform: capitalize;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 1;
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.508);
    }
  }
}
.login-label {
  font-size: 12px;
  margin-bottom: 0;
}
.login-title {
  h3 {
    font-size: 24px;
    color: #d2d2d2;
    text-align: center;
    font-weight: bold;
  }
  p {
    font-size: 12px;
    color: #d2d2d2;
    text-align: center;
  }
}

.login-wrapper {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 66px;
  }
  .logo-row {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -28px;
    width: 100%;
    left: 0;

    .logo-image {
      display: inline-block;
      padding: 0 15px;
      img {
        max-width: 100%;
      }
    }
    &:before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #fff;
      display: inline-block;
    }
    &:after {
      content: "";
      width: 20%;
      height: 2px;
      background-color: #fff;
      display: inline-block;
    }
  }
}
