/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px 10px;
  transition: 0.3s;
  background-color: #fff;
  color: #c2cacf;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: $secondry-color;
  svg .a {
    fill: $secondry-color;
  }
  svg .b {
    stroke: $secondry-color;
  }
}

/* Create an active/current tablink class */
.tab button.active {
  color: $secondry-color;
  svg .a {
    fill: $secondry-color;
  }
  svg .b {
    stroke: $secondry-color;
  }
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
