.tabl-detail-wrap {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.vw-tbl-list1 {
  display: table;
  width: 100%;
  margin-top: 30px;
  position: relative;
  .vw-row {
    display: table-row-group;
    // &:first-child {
    //   .vw-cell {
    //     border: 0;
    //   }
    // }

    .vw-cell {
      display: table-cell;
      background-color: #fff;
      padding: 10px 25px;
      font-size: 14px;
      font-family: "VW Head";
      color: $primary-color;
      border-bottom: 1px solid #d4dade;
      vertical-align: middle;
      span {
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;
      }
      .tbl-text-light {
        color: #ababab;
      }
      &:last-child {
        border-right: 1px solid #d4dade;
      }
      &:first-child {
        border-left: 1px solid #d4dade;
      }
      &-head {
        background-color: transparent;
        font-family: "VW Head";
        font-weight: bold;
        font-size: 16px;
        color: $primary-color;
        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
    }
  }
}

.tbl-detail-data {
  width: 423px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  font-family: "VW Head";
  padding: 30px;

  .tbl-dd-light-text {
    font-size: 12px;
    color: #ababab;
    font-family: "VW Head";
  }
  .tbl-dd-dark-text {
    font-size: 14px;
    color: $primary-color;
    font-family: "VW Head";
  }

  .tbl-sec-row {
    display: table;
    width: 100%;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0px;
    }
    .tbl-sec-cell {
      display: table-cell;
      width: 50%;
    }
  }

  .tbl-dd-header {
    display: table;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;

    .tbl-dd-light-text {
      font-size: 12px;
      color: #ababab;
      font-family: "VW Head";
    }
    .tbl-dd-dark-text {
      font-size: 16px;
      color: $primary-color;
      font-family: "VW Head";
    }
  }
}

.tbl-dd-sec {
  padding-bottom: 20px;
  border-bottom: 1px solid #d2d2d2;
  .tbl-sec-title {
    color: $secondry-color;
    padding: 16px 0;
  }
}
