﻿@model VehicleCheckupSecData
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment _hostingEnvironment
<div id="@Model.SectionNameKey.ToLower()" class="tabcontent">
    <div class="mobile-modal-header">
        <a href="#"
           class="close-modal"
           onclick="closeData(event, '@Model.SectionName.ToLower()')">
            <img src="~/images/icons/left-arrow.svg"
                 class="close-modal"
                 alt="back btn" />
        </a>
        <span class="modal-title">@Model.SectionName.ToLower()</span>
    </div>
    <div class="mobile-car-result result-green">
        <div class="car-d-result">
            <div class="car-d-result-icon">
                @if (Model.SectionNameKey.Equals("inspection", StringComparison.InvariantCulture))
                {
                    @Html.Raw(System.IO.File.ReadAllText(string.Format("{0}/images/icons/inspection.svg", _hostingEnvironment.WebRootPath)))
                }
                else if (Model.SectionNameKey.Equals("interior", StringComparison.InvariantCulture))
                {
                    @Html.Raw(System.IO.File.ReadAllText(string.Format("{0}/images/icons/interior.svg", _hostingEnvironment.WebRootPath)))
                }
                else if (Model.SectionNameKey.Equals("exterior", StringComparison.InvariantCulture))
                {
                    @Html.Raw(System.IO.File.ReadAllText(string.Format("{0}/images/icons/exterior.svg", _hostingEnvironment.WebRootPath)))
                }
                else if (Model.SectionNameKey.Equals("enginecompartment", StringComparison.InvariantCulture))
                {
                    @Html.Raw(System.IO.File.ReadAllText(string.Format("{0}/images/icons/enginecompartment.svg", _hostingEnvironment.WebRootPath)))
                }
                else if (Model.SectionNameKey.Equals("boot", StringComparison.InvariantCulture))
                {
                    @Html.Raw(System.IO.File.ReadAllText(string.Format("{0}/images/icons/boot.svg", _hostingEnvironment.WebRootPath)))
                }
                else if (Model.SectionNameKey.Equals("exteriorcheck", StringComparison.InvariantCulture))
                {
                    @Html.Raw(System.IO.File.ReadAllText(string.Format("{0}/images/icons/exteriorcheck.svg", _hostingEnvironment.WebRootPath)))
                }
            </div>
            <div class="car-d-result-title">
                <div>Vehicle</div>
                <div>@Model.SectionName Score</div>
            </div>
        </div>
        <div class="car-d-result-percent">@Model.Percent<span>%</span></div>
    </div>
    <div class="vw-tbl">
        <div class="vw-tbl-row">
            <div class="vw-tbl-cell vw-tbl-cell-head">part</div>
            <div class="vw-tbl-cell vw-tbl-cell-head">status</div>
            <div class="vw-tbl-cell vw-tbl-cell-head">Comments</div>
            <div class="vw-tbl-cell vw-tbl-cell-head">Addl. Comments</div>
            <div class="vw-tbl-cell vw-tbl-cell-head">Images</div>
        </div>
        @foreach (var data in Model.VehicleCheckupData)
        {
            <div class="vw-tbl-row">
                <div class="vw-tbl-cell vw-tbl-cell">
                    @data.Name
                </div>
                <div class="vw-tbl-cell vw-tbl-cell">
                    <span class="status @Html.Raw(data.Status == 1? "status-red" : data.Status == 2 ? "status-yellow" : "status-green")"></span>
                </div>
                <div class="vw-tbl-cell vw-tbl-cell">@data.Value</div>
                <div class="vw-tbl-cell vw-tbl-cell">@data.Remarks</div>
                <div class="vw-tbl-cell vw-tbl-cell">
                    <div class="img-wrp">
                        @for (int i = 0; i < data.Assets.Count(); i++)
                        {
                            var asset = data.Assets[i];
                            if (!asset.IsVideo)
                            {
                                <a href="@Url.Content(asset.Asset)"
                                   class="lightbox"
                                   data-group="@Model.SectionName">
                                    <img alt=""
                                         src="@Url.Content(asset.IsVideo ? asset.Thumb : asset.Asset)" />
                                </a>
                            }
                            else
                            {
                                <a href="@Html.Raw(string.Format("#video_{0}{1},", Model.SectionName, i))"
                                   data-type="html"
                                   class="lightbox"
                                   data-group="@Model.SectionName">
                                    <img src="@Url.Content(asset.IsVideo ? asset.Thumb : asset.Asset)"
                                         alt="" />
                                </a>
                                <div style="display: none">
                                    <div id="@Html.Raw(string.Format("#video_{0}{1},", Model.SectionName, i))" data-group="iframe">
                                        <video width="640"
                                               height="480"
                                               src="@Url.Content(asset.Asset)"
                                               controls>
                                            Sorry, your browser doesn't support HTML5
                                            <code>video</code>
                                        </video>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="mobile-task-images">
        <div class="mobile-task-title">Images of @Model.SectionName</div>
        <div class="img-wrp">
            @foreach (var data in Model.VehicleCheckupData)
            {
                @for (int i = 0; i < data.Assets.Count(); i++)
                {
                    var asset = data.Assets[i];
                    if (!asset.IsVideo)
                    {
                        <a href="@Url.Content(asset.Asset)"
                           class="lightbox"
                           data-group="@Model.SectionName">
                            <img alt=""
                                 src="@Url.Content(asset.IsVideo ? asset.Thumb : asset.Asset)" />
                        </a>
                    }
                    else
                    {
                        <a href="@Html.Raw(string.Format("#video_{0}_m{1},", Model.SectionName, i))"
                           data-type="html"
                           class="lightbox"
                           data-group="@Model.SectionName">
                            <img src="@Url.Content(asset.IsVideo ? asset.Thumb : asset.Asset)"
                                 alt="" />
                        </a>
                        <div style="display: none">
                            <div id="@Html.Raw(string.Format("#video_{0}_m{1},", Model.SectionName, i))" data-group="iframe">
                                <video width="640"
                                       height="480"
                                       src="@Url.Content(asset.Asset)"
                                       controls>
                                    Sorry, your browser doesn't support HTML5
                                    <code>video</code>
                                </video>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>