﻿@model ResponseVehicleCheckupDataModel
@using System.Collections.Generic
@{
    var angleData = Newtonsoft.Json.JsonConvert.DeserializeObject<List<VehicleCheckupAngleData>>(Model.Value);
    var repairCount = angleData.Where(x => x.mark.ToUpper().Equals("REPAIR", StringComparison.InvariantCulture)).Count();
    var damageCount = angleData.Where(x => x.mark.ToUpper().Equals("DAMAGE", StringComparison.InvariantCulture)).Count();
}
<li class="splide__slide car-repair-info">
    <div class="car-serv-wrp">
        <img src="@Url.Content(ViewData["AngleImage"].ToString())" alt="" />
        @foreach (var dot in angleData)
        {
            if (dot.mark.ToLower().Equals("repair", StringComparison.InvariantCulture))
            {
                <span class="yellow-dot" style="left: @Html.Raw(string.Format("{0}px", Convert.ToInt32(dot.x))); top: @Html.Raw(string.Format("{0}px", Convert.ToInt32(dot.y)));"></span>
            }
            else
            { 
                <span class="red-dot" style="left: @Html.Raw(string.Format("{0}px", Convert.ToInt32(dot.x))); top: @Html.Raw(string.Format("{0}px", Convert.ToInt32(dot.y)));"></span>
            }
        }
    </div>

    <ul class="car-service-legend">
        <li><span class="yellow-dot"></span> Repairs (@repairCount)</li>
        <li><span class="red-dot"></span> Damages (@damageCount)</li>
    </ul>
</li>