﻿@model LoginModel
@{
    ViewData["Title"] = "Volkswagen India";
    Layout = "_LoginLayout";
}




<div class="login-wrapper">
    <header>
        <div class="container" style="height:100%">
            <span class="logo-row">
                <span class="logo-image">
                    <img src="@Url.Content("~/images/logo.svg")" alt="logo" />
                </span>
            </span>
        </div>
    </header>
    <div class="login-inner">
        <div class="login-info">
            <h1>volkswagen mobile service</h1>
            <h3>volkswagen mobile service</h3>
        </div>
        <div class="form-wrapper">

            @*<div class="login-logo">
                    <img class="img-fluid" src="/images/volkswagen_logo.jpg" alt="logo">
                </div>*@
            <div class="login-title" style="padding-top: 35px;">
                <h3>Did you forgot the Pasword?</h3>
                <p>Enter the email address you're using for your account and we will send you the new password</p>
            </div>
            <form asp-action="Forgotpassword" asp-controller="Home">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-4">
                    <label class="login-label" for="Username">Mobile Number</label>
                    <input asp-for="PhoneNo" class="form-control form-control-custom" placeholder="Mobile Number" autocomplete="nope" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group mb-0">
                    <button type="submit" class="btn btn-primary btn-block">
                        Request a new password
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
