﻿@{
    ViewData["Title"] = "Volkswagen India > Dashboard";
    var DisplayMode = ViewBag.DisplayMode;
}



<!--<div class="dashboard-wrp">
    <div class="dash-card">
        <div class="dash-card-header">
            <h2 class="dash-card-title">VWA</h2>
            <div class="dash-card-col-left">
                <div class="select-wrp">
                    <span>Zonal Manager</span>
                    <select class="selectJs">
                        <option value="All">All</option>
                    </select>
                </div>
                <div class="select-wrp">
                    <span>Area Manager</span>
                    <select class="selectJs">
                        <option value="All">All</option>
                    </select>
                </div>
                <div class="select-wrp">
                    <span>Dealership</span>
                    <select class="selectJs">
                        <option value="All">All</option>
                    </select>
                </div>

            </div>
            <div class="dash-card-col-right">-->                
                <!-- Tab links -->
                <!--<div class="tab dash-filter-wrp">
                    <button class="active" >Today</button>
                    <button class="" >MTD</button>
                    <button class="" >YTD</button>
                </div>
            </div>
        </div>
        <div class="dash-card-data-row">
            <div class="dash-data-col">
                <div class="dash-data-label">Dealerships</div>
                <div class="dash-data-value">12</div>
            </div>
            <div class="dash-data-col">
                <div class="dash-data-label">Services</div>
                <div class="dash-data-value">18</div>
            </div>
            <div class="dash-data-col">
                <div class="dash-data-label">Duration</div>
                <div class="dash-data-value">18 hrs</div>
            </div>
            <div class="dash-data-col">
                <div class="dash-data-label">Revenue</div>
                <div class="dash-data-value">₹16,500</div>
            </div>
        </div>
    </div>
    <div class="dash-card">
        <div class="dash-card-header">
            <h2 class="dash-card-title">MSU</h2>
            <div class="dash-card-col-left">
                <div class="select-wrp">
                    <span>Zonal Manager</span>
                    <select class="selectJs">
                        <option value="All">All</option>
                    </select>
                </div>
                <div class="select-wrp">
                    <span>Area Manager</span>
                    <select class="selectJs">
                        <option value="All">All</option>
                    </select>
                </div>
                <div class="select-wrp">
                    <span>Dealership</span>
                    <select class="selectJs">
                        <option value="All">All</option>
                    </select>
                </div>

            </div>
            <div class="dash-card-col-right">
                <div class="tab dash-filter-wrp">
                    <button class="active">Today</button>
                    <button class="" >MTD</button>
                    <button class="" >YTD</button>
                </div>
            </div>
        </div>
        <div class="dash-card-data-row">
            <div class="dash-data-col">
                <div class="dash-data-label">Dealerships</div>
                <div class="dash-data-value">12</div>
            </div>
            <div class="dash-data-col">
                <div class="dash-data-label">Services</div>
                <div class="dash-data-value">18</div>
            </div>
            <div class="dash-data-col">
                <div class="dash-data-label">Duration</div>
                <div class="dash-data-value">18 hrs</div>
            </div>
            <div class="dash-data-col">
                <div class="dash-data-label">Locations</div>
                <div class="dash-data-value">43</div>
            </div>
            <div class="dash-data-col">
                <div class="dash-data-label">Revenue</div>
                <div class="dash-data-value">₹16,500</div>
            </div>
        </div>
    </div>
    <div class="dash-card">
        <div class="dash-card-header">
            <div class="dash-card-header-title">
                Monthly Records
            </div>
            <div class="dash-card-header-filter">
                <div class="chart-legend-wrp">
                    <span class="chart-legend vwa">VWA</span>
                    <span class="chart-legend msu">MSU</span>
                </div>
                <div class="select-wrp">
                    <span>Month</span>
                    <select class="selectJs">
                        <option value="August">August</option>
                    </select>
                </div>
                <div class="select-wrp">
                    <span>Year</span>
                    <select class="selectJs">
                        <option value="2021">2021</option>
                    </select>
                </div>
            </div>
        </div>
    <div id="chartdiv"></div>
    </div>
    
</div>-->
@section Scripts
{
    <script src="~/js/Home/Index.js"></script>
    <script>        
        //am4core.ready(function () {
        //    let chart = am4core.createFromConfig({
        //        "type": "XYChart",
        //        "data": [{
        //            "category": 1,
        //            "value1": 4006,
        //            "value2": 2013
        //        }, {
        //            "category": 2,
        //            "value1": 4507,
        //            "value2": 2679
        //        }, {
        //            "category": 3,
        //            "value1": 1213,
        //            "value2": 1087
        //        }, {
        //            "category": 4,
        //            "value1": 180,
        //            "value2": 4566
        //        }, {
        //            "category": 5,
        //            "value1": 4314,
        //            "value2": 4382
        //        }, {
        //            "category": 6,
        //            "value1": 3365,
        //            "value2": 3168
        //        }, {
        //            "category": 7,
        //            "value1": 529,
        //            "value2": 3253
        //        }, {
        //            "category": 8,
        //            "value1": 2153,
        //            "value2": 4768
        //            }, {
        //                "category": 9,
        //                "value1": 4006,
        //                "value2": 2013
        //            }, {
        //                "category": 10,
        //                "value1": 4507,
        //                "value2": 2679
        //            }, {
        //                "category": 11,
        //                "value1": 1213,
        //                "value2": 1087
        //            }, {
        //                "category": 12,
        //                "value1": 180,
        //                "value2": 4566
        //            }, {
        //                "category": 13,
        //                "value1": 4314,
        //                "value2": 4382
        //            }, {
        //                "category": 14,
        //                "value1": 3365,
        //                "value2": 3168
        //            }, {
        //                "category": 15,
        //                "value1": 529,
        //                "value2": 3253
        //            }, {
        //                "category": 16,
        //                "value1": 2153,
        //                "value2": 4768
        //            }, {
        //                "category": 17,
        //                "value1": 4006,
        //                "value2": 2013
        //            }, {
        //                "category": 18,
        //                "value1": 4507,
        //                "value2": 2679
        //            }, {
        //                "category": 19,
        //                "value1": 1213,
        //                "value2": 1087
        //            }, {
        //                "category": 20,
        //                "value1": 180,
        //                "value2": 4566
        //            }, {
        //                "category": 21,
        //                "value1": 4314,
        //                "value2": 4382
        //            }, {
        //                "category": 22,
        //                "value1": 3365,
        //                "value2": 3168
        //            }, {
        //                "category": 23,
        //                "value1": 529,
        //                "value2": 3253
        //            }, {
        //                "category": 24,
        //                "value1": 2153,
        //                "value2": 4768
        //            }],
        //        "xAxes": [{
        //            "type": "CategoryAxis",
        //            "title": {
        //                "type": "Label",
        //                "text": "Days"
        //            },
        //            "axisRanges": {
        //                "template": {
        //                    "type": "CategoryAxisDataItem"
        //                }
        //            },
        //            "dataFields": {
        //                "category": "category"
        //            },
        //            "renderer": {
        //                "grid": {
        //                    "template": {
        //                        "type": "Grid",
        //                        "location": 0
        //                    }
        //                },
        //                "minGridDistance": 20,
        //                "fill": ""
        //            },
                    
        //        }],
        //        "yAxes": [{
        //            "type": "ValueAxis",
        //            "title": {
        //                "type": "Label",
        //                "text": "Services"
        //            },
        //            "renderer": {
        //                "maxLabelPosition": 0.98
        //            },
                   
        //        }],
        //        "series": [{
        //            "type": "ColumnSeries",
        //            "name": "MSU",
        //            "columns": {
        //                "template": {
        //                    "type": "Column",
        //                    "strokeOpacity": 0,
        //                    "tooltipText": "Series: {name}\n{categoryX}: {valueY}"
        //                }
        //            },
        //            "stacked": true,
        //            "dataFields": {
        //                "valueY": "value1",
        //                "categoryX": "category"
        //            },
        //            "fill": "#0057a7",
        //            "stroke": "#0057a7",
        //            "sequencedInterpolation": true,
        //            "sequencedInterpolationDelay": 100
        //        }, {
        //            "type": "ColumnSeries",
        //            "name": "VWA",
        //            "columns": {
        //                "template": {
        //                    "type": "Column",
        //                    "strokeOpacity": 0,
        //                    "tooltipText": "Series: {name}\n{categoryX}: {valueY}"
        //                }
        //            },
        //            "stacked": true,
        //            "dataFields": {
        //                "valueY": "value2",
        //                "categoryX": "category"
        //            },
        //            "fill": "#00b1eb",
        //            "stroke": "#00b1eb",
        //            "sequencedInterpolation": true,
        //            "sequencedInterpolationDelay": 100
        //        }],
        //        "dataFields": {
        //            "data": ""
        //        },
        //        "fill": ""
        //    },
        //        document.getElementById('chartdiv')
        //    );
        //});
    </script>
}
