﻿@model LoginModel
@{
    ViewData["Title"] = "Volkswagen India";
    Layout = "_LoginLayout";
}



<div class="login-wrapper">
    <header>
        <div class="container" style="height:100%">
            <span class="logo-row">
                <span class="logo-image">
                    <img src="@Url.Content("~/images/logo.svg")" alt="logo" />
                </span>
            </span>
        </div>
    </header>
    <div class="login-inner">
        <div class="login-info">
            <h1>volkswagen mobile service</h1>
            <h3>volkswagen mobile service</h3>
        </div>
        <div class="form-wrapper">
            @*<div class="login-logo">
                <img class="img-fluid" src="~/images/volkswagen_logo.jpg" alt="logo" />
            </div>*@
            <div class="login-title" style="padding-top: 35px;">
                <h3>Login</h3>
            </div>

            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="ReturnUrl" type="hidden" />
                <div class="form-group">
                    <label class="login-label" for="Username">Mobile Number</label>
                    <input asp-for="PhoneNo" class="form-control form-control-custom" placeholder="Mobile Number" autocomplete="nope" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label for="Password">Password</label>*@
                    <input asp-for="Password" class="form-control form-control-custom" type="password" placeholder="Password" autocomplete="nope" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <div class="text-danger">@Model.ErrorMessage</div>
                    }
                    <div class="text-right">
                        <a asp-action="Forgotpassword" asp-controller="home"><small> Forgot Password? </small></a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" asp-for="RememberMe">
                        <label class="custom-control-label" for="RememberMe">Remember Me</label>
                    </div>
                </div>
                <div class="form-group mb-0">
                    <button type="submit" class="btn btn-primary btn-block">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}