﻿@model VW.MSU.Models.ServiceRequestModel
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment _hostingEnvironment
@{
    ViewData["Title"] = "Volkswagen India > Service Request";
    Layout = null;

    var inspection = @Model.VehicleCheckupSecData.Where(x => x.SectionNameKey.Equals("inspection", StringComparison.InvariantCulture)).FirstOrDefault();
    var interior = @Model.VehicleCheckupSecData.Where(x => x.SectionNameKey.Equals("interior", StringComparison.InvariantCulture)).FirstOrDefault();
    var exterior = @Model.VehicleCheckupSecData.Where(x => x.SectionNameKey.Equals("exterior", StringComparison.InvariantCulture)).FirstOrDefault();
    var enginecompartment = @Model.VehicleCheckupSecData.Where(x => x.SectionNameKey.Equals("enginecompartment", StringComparison.InvariantCulture)).FirstOrDefault();
    var boot = @Model.VehicleCheckupSecData.Where(x => x.SectionNameKey.Equals("boot", StringComparison.InvariantCulture)).FirstOrDefault();
    var exteriorcheck = @Model.VehicleCheckupSecData.Where(x => x.SectionNameKey.Equals("exteriorcheck", StringComparison.InvariantCulture)).FirstOrDefault();

    var scratchDentDamage = Model.VehicleCheckupSecData.Where(x => x.SectionNameKey.Equals("scratch/dent/damage", StringComparison.InvariantCulture)).FirstOrDefault();
    var frontAngle = scratchDentDamage.VehicleCheckupData.Where(x => x.Name.ToLower().Equals("front", StringComparison.InvariantCulture)).FirstOrDefault();
    var backAngle = scratchDentDamage.VehicleCheckupData.Where(x => x.Name.ToLower().Equals("back", StringComparison.InvariantCulture)).FirstOrDefault();
    var leftAngle = scratchDentDamage.VehicleCheckupData.Where(x => x.Name.ToLower().Equals("left", StringComparison.InvariantCulture)).FirstOrDefault();
    var rightAngle = scratchDentDamage.VehicleCheckupData.Where(x => x.Name.ToLower().Equals("right", StringComparison.InvariantCulture)).FirstOrDefault();

    var acknowledge = Model.VehicleCheckupSecData.Where(x => x.SectionNameKey.Equals("acknowledge", StringComparison.InvariantCulture)).FirstOrDefault();
    ResponseVehicleCheckupDataModel customerSign = null, advisorSign = null;
    if (acknowledge != null && acknowledge.VehicleCheckupData != null)
    {
        customerSign = acknowledge.VehicleCheckupData.Where(x => x.Name.ToLower().Equals("customer signature", StringComparison.InvariantCulture)).FirstOrDefault();
        advisorSign = acknowledge.VehicleCheckupData.Where(x => x.Name.ToLower().Equals("sa signature", StringComparison.InvariantCulture)).FirstOrDefault();
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VW MSU</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/js/plugins/tobii/tobii.min.css" rel="stylesheet" />
    <link href="~/js/plugins/splide/splide.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/fonts/fonts.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <!-- Responsive navbar-->
    <header class="vw-header">
        <div class="vw-header-pagetitle">
            <h1 class="vw-page-title font-18-bold text-white">
                Vehicle Health Report
            </h1>
            <div class="vw-header-logo">
                <a class="vw-header-logo-link" href="/">
                    <img src="~/images/logo.svg" alt="logo" />
                </a>
            </div>
        </div>
    </header>
    <!-- Page content-->

    <div class="product-details">
        <div class="vw-pro-detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mobile-card">
                        <div class="vw-car-name font-18-bold">
                            @Model.VehicleModel | @Model.VariantName
                        </div>
                        <div class="vw-car-details-tbl">
                            <div class="vw-car-details-cell">Date</div>
                            <div class="vw-car-details-cell">
                                : <span>@Model.ServiceDateTime.ToString("dd MMM yyyy")</span>
                            </div>
                        </div>
                        <div class="vw-car-details-tbl">
                            <div class="vw-car-details-cell">RO Number</div>
                            <div class="vw-car-details-cell">
                                : <span>@Model.Srnumber</span>
                            </div>
                        </div>
                        <div class="vw-car-details-tbl">
                            <div class="vw-car-details-cell">Customer Name</div>
                            <div class="vw-car-details-cell">
                                : <span>@Model.CustomerName</span>
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.RegNum))
                        {
                            <div class="vw-car-details-tbl">
                                <div class="vw-car-details-cell">Regisreation Name</div>
                                <div class="vw-car-details-cell">: <span>@Model.RegNum</span></div>
                            </div>
                        }
                        <div class="vw-car-details-tbl">
                            <div class="vw-car-details-cell">VIN</div>
                            <div class="vw-car-details-cell">
                                : <span>@Model.Vinnumber</span>
                            </div>
                        </div>
                        <div class="vw-car-details-tbl">
                            <div class="vw-car-details-cell">Fuel Level</div>
                            <div class="vw-car-details-cell">: <span>@Model.VehicleCheckup.FuelLevel</span></div>
                        </div>
                        @*<div class="vw-car-details-tbl">
                                <div class="vw-car-details-cell">Service Advisor</div>
                                <div class="vw-car-details-cell">: <span>@Model.SAName</span></div>
                            </div>*@
                    </div>
                    <div class="col-lg-6">
                        <div class="vw-d-g"></div>
                        <div id="splide" class="splide">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    @for (int i = 0; i < Model.VehicleCheckup.VehicleCheckupAssets.Count(); i++)
                                    {
                                        var asset = Model.VehicleCheckup.VehicleCheckupAssets[i];
                                        if (!asset.IsVideo)
                                        {
                                            <li class="splide__slide">
                                                <a href="@Url.Content(asset.Asset)"
                                                   class="lightbox"
                                                   data-group="a">
                                                    <img alt=""
                                                         src="@Url.Content(asset.IsVideo ? asset.Thumb : asset.Asset)" />
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="splide__slide">
                                                <a href="@Html.Raw(string.Format("#video_veh{0},", i))"
                                                   data-type="html"
                                                   class="lightbox"
                                                   data-group="a">
                                                    <img src="@Url.Content(asset.IsVideo ? asset.Thumb : asset.Asset)"
                                                         alt="" />
                                                </a>
                                                <div style="display: none">
                                                    <div id="@Html.Raw(string.Format("#video_veh{0},", i))" data-group="iframe">
                                                        <video width="640"
                                                               height="480"
                                                               src="@Url.Content(asset.Asset)"
                                                               controls>
                                                            Sorry, your browser doesn't support HTML5
                                                            <code>video</code>
                                                        </video>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Tab links -->
            <div class="tab">
                @if (inspection != null)
                {
                    <button class="tablinks" onclick="openData(event, 'inspection')">
                        <div class="btn-wrap-link">
                            <div>
                                @Html.Raw(System.IO.File.ReadAllText(string.Format("{0}/images/icons/inspection.svg", _hostingEnvironment.WebRootPath)))
                                Inspection
                            </div>
                            <div class="mobile-car-con-value result-red">
                                @inspection.Percent%
                                <img src="~/images/icons/next.png"
                                     class="care-icon"
                                     alt="next" />
                            </div>
                        </div>
                    </button>
                }
                @if (interior != null)
                {
                    <button class="tablinks" onclick="openData(event, 'interior')">
                        <div class="btn-wrap-link">
                            <div>
                                @Html.Raw(System.IO.File.ReadAllText(string.Format("{0}/images/icons/interior.svg", _hostingEnvironment.WebRootPath)))
                                Interior
                            </div>
                            <div class="mobile-car-con-value result-green">
                                @interior.Percent%
                                <img src="~/images/icons/next.png"
                                     class="care-icon"
                                     alt="next" />
                            </div>
                        </div>
                    </button>
                }
                @if (exterior != null)
                {
                    <button class="tablinks" onclick="openData(event, 'exterior')">
                        <div class="btn-wrap-link">
                            <div>
                                @Html.Raw(System.IO.File.ReadAllText(string.Format("{0}/images/icons/exterior.svg", _hostingEnvironment.WebRootPath)))
                                Exterior
                            </div>
                            <div class="mobile-car-con-value result-red">
                                @exterior.Percent%
                                <img src="~/images/icons/next.png"
                                     class="care-icon"
                                     alt="next" />
                            </div>
                        </div>
                    </button>
                }
                @if (enginecompartment != null)
                {
                    <button class="tablinks"
                            onclick="openData(event, 'enginecompartment')">
                        <div class="btn-wrap-link">
                            <div>
                                @Html.Raw(System.IO.File.ReadAllText(string.Format("{0}/images/icons/enginecompartment.svg", _hostingEnvironment.WebRootPath)))
                                Engine Compartment
                            </div>
                            <div class="mobile-car-con-value result-green">
                                @enginecompartment.Percent%
                                <img src="~/images/icons/next.png"
                                     class="care-icon"
                                     alt="next" />
                            </div>
                        </div>
                    </button>
                }
                @if (boot != null)
                {
                    <button class="tablinks" onclick="openData(event, 'boot')">
                        <div class="btn-wrap-link">
                            <div>
                                @Html.Raw(System.IO.File.ReadAllText(string.Format("{0}/images/icons/boot.svg", _hostingEnvironment.WebRootPath)))
                                Boot
                            </div>
                            <div class="mobile-car-con-value result-green">
                                @boot.Percent%
                                <img src="~/images/icons/next.png"
                                     class="care-icon"
                                     alt="next" />
                            </div>
                        </div>
                    </button>
                }
                @if (exteriorcheck != null)
                {
                    <button class="tablinks" onclick="openData(event, 'exteriorcheck')">
                        <div class="btn-wrap-link">
                            <div>
                                @Html.Raw(System.IO.File.ReadAllText(string.Format("{0}/images/icons/exteriorcheck.svg", _hostingEnvironment.WebRootPath)))
                                Exterior Check
                            </div>
                            <div class="mobile-car-con-value result-red">
                                @exteriorcheck.Percent%
                                <img src="~/images/icons/next.png"
                                     class="care-icon"
                                     alt="next" />
                            </div>
                        </div>
                    </button>
                }
                <button class="tablinks" onclick="openData(event, 'vehicleimages')">
                    <div class="btn-wrap-link">
                        <div>
                            @Html.Raw(System.IO.File.ReadAllText(string.Format("{0}/images/icons/vehicleimages.svg", _hostingEnvironment.WebRootPath)))
                            Vehicle Images
                        </div>
                        <div class="mobile-car-con-value result-red">
                            <img src="~/images/icons/next.png"
                                 class="care-icon"
                                 alt="next" />
                        </div>
                    </div>
                </button>
            </div>

            <!-- Tab content -->
            @{ await Html.RenderPartialAsync("_SRTab", inspection); }

            @{ await Html.RenderPartialAsync("_SRTab", interior); }

            @{ await Html.RenderPartialAsync("_SRTab", exterior); }

            @{ await Html.RenderPartialAsync("_SRTab", enginecompartment); }

            @{ await Html.RenderPartialAsync("_SRTab", boot); }

            @{ await Html.RenderPartialAsync("_SRTab", exteriorcheck); }

            <div id="vehicleimages" class="tabcontent">
                <div class="mobile-modal-header">
                    <a href="#"
                       class="close-modal"
                       onclick="closeData(event, 'vehicleimages')">
                        <img src="~/images/icons/left-arrow.svg"
                             class="close-modal"
                             alt="back btn" />
                    </a>
                    <span class="modal-title">vehicle images</span>
                </div>
                <div class="splide angle-view">
                    <div class="splide__track">
                        <ul class="splide__list">
                            @{ await Html.RenderPartialAsync("_SRVehicleAngle", leftAngle, new ViewDataDictionary(this.ViewData) { { "AngleImage", Model.VehicleModelData.LeftAngleImage } }); }
                            @{ await Html.RenderPartialAsync("_SRVehicleAngle", frontAngle, new ViewDataDictionary(this.ViewData) { { "AngleImage", Model.VehicleModelData.FrontAngleImage } }); }
                            @{ await Html.RenderPartialAsync("_SRVehicleAngle", rightAngle, new ViewDataDictionary(this.ViewData) { { "AngleImage", Model.VehicleModelData.RightAngleImage } }); }
                            @{ await Html.RenderPartialAsync("_SRVehicleAngle", backAngle, new ViewDataDictionary(this.ViewData) { { "AngleImage", Model.VehicleModelData.BackAngleImage } }); }
                        </ul>
                    </div>
                    <div class="splide__arrows">
                        <button class="btn btn-primary splide__arrow--prev">Prev</button>
                        <button class="btn btn-primary splide__arrow--next">Next</button>
                    </div>
                </div>
                <div class="sign-wrap">
                    @if (customerSign != null && customerSign.Assets != null && customerSign.Assets.Count() > 0)
                    {
                        <div class="sign sign-custommer">
                            <h6>Customer Signature</h6>
                            <div class="sign-image-wrap">
                                <img src="@Url.Content(customerSign.Assets[0].Asset)"
                                     alt="customer signature" />
                            </div>
                        </div>
                    }
                    @if(advisorSign != null && advisorSign.Assets != null && advisorSign.Assets.Count() > 0)
                    { 
                        <div class="sign sign-advisor">
                            <h6>Service Advisor Signature</h6>
                            <div class="sign-image-wrap">
                                <img src="@Url.Content(advisorSign.Assets[0].Asset)"
                                     alt="Service Advisor Signature" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/plugins/tobii/tobii.min.js"></script>
    <script src="~/js/plugins/splide/splide.min.js"></script>
    <script src="~/js/plugins/splide/splide-extension-grid.min.js"></script>
    <script src="~/js/plugins/angle/jquery.angle.js"></script>
    <script src="~/js/SR/Details.js"></script>
</body>
</html>  