﻿@using Microsoft.AspNetCore.Http
@using VW.MSU.Common.Enums
@model VW.MSU.Models.UserModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    UserDetails userDetails = (UserDetails)SessionData.GetUserDetails(HttpContextAccessor.HttpContext);
    ViewData["Title"] = "Create";
}
@section styles {
    <link rel="stylesheet" href="~/css/jquery-datetimepicker.css" />
}


<div class="create-card">
    <div class="create-wrp-header">
        <div class="create-record-title">
            <a asp-action="List"> <span>&#8592; &nbsp;</span>@Html.Raw(Model.UserId > 0 ? "Update" : "Create") User</a>
        </div>
    </div>
    <div class="create-form-main">
        <form>
            
        </form>
        <form id="CreateOrUpdateForm" asp-action="CreateOrUpdate" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="text-danger">@Model.ErrorMessage</div>
            }
            <input asp-for="UserId" type="hidden" />
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <div class="form-group-title">BASIC INFORMATION</div>
                        <div class="form-row mb-4">
                            <div class="col-lg-4">
                                @*<label asp-for="Fullname" class="control-label"></label>*@
                                <input asp-for="Fullname" class="form-control form-control-custom" placeholder="Fullname" />
                                <span asp-validation-for="Fullname" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4">
                                @*<label asp-for="Email" class="control-label"></label>*@
                                <input asp-for="Email" class="form-control form-control-custom" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4">

                                @*<label asp-for="Phone" class="control-label"></label>*@
                                <input asp-for="Phone" class="form-control form-control-custom" placeholder="Phone Number" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group-title">ROLE</div>

                        <div class="form-row mb-4">
                            <div class="col-lg-6">
                                <select class="select-role form-control form-control-custom"
                                        name="select-role">
                                    <option value="aaaaa">aaaaa</option>

                                    <option value="bbbbb">bbbbb</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-form-sec">
                        <div class="form-group-title">ASSIGN AREA MANAGER</div>
                        <div class="text-grey-small mb-2">
                            Available <span>(10)</span>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-12">
                                <div class="
                                custom-control custom-checkbox custom-control-inline
                                col-md-3
                                mb-1
                              ">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="bhavesh-patel" />
                                    <label class="custom-control-label"
                                           for="bhavesh-patel">
                                        Bhavesh Patel
                                    </label>
                                </div>
                                <div class="
                                custom-control custom-checkbox custom-control-inline
                                col-md-3
                                mb-1
                              ">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="anil-vishnu" />
                                    <label class="custom-control-label" for="anil-vishnu">
                                        Anil Vishnu
                                    </label>
                                </div>
                                <div class="
                                custom-control custom-checkbox custom-control-inline
                                col-md-3
                                mb-1
                              ">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="bhavesh-patel" />
                                    <label class="custom-control-label"
                                           for="bhavesh-patel">
                                        Bhavesh Patel
                                    </label>
                                </div>
                                <div class="
                                custom-control custom-checkbox custom-control-inline
                                col-md-3
                                mb-1
                              ">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="anil-vishnu" />
                                    <label class="custom-control-label" for="anil-vishnu">
                                        Anil Vishnu
                                    </label>
                                </div>
                                <div class="
                                custom-control custom-checkbox custom-control-inline
                                col-md-3
                                mb-1
                              ">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="bhavesh-patel" />
                                    <label class="custom-control-label"
                                           for="bhavesh-patel">
                                        Bhavesh Patel
                                    </label>
                                </div>
                                <div class="
                                custom-control custom-checkbox custom-control-inline
                                col-md-3
                                mb-1
                              ">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="anil-vishnu" />
                                    <label class="custom-control-label" for="anil-vishnu">
                                        Anil Vishnu
                                    </label>
                                </div>
                                <div class="
                                custom-control custom-checkbox custom-control-inline
                                col-md-3
                                mb-1
                              ">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="bhavesh-patel" />
                                    <label class="custom-control-label"
                                           for="bhavesh-patel">
                                        Bhavesh Patel
                                    </label>
                                </div>
                                <div class="
                                custom-control custom-checkbox custom-control-inline
                                col-md-3
                                mb-1
                              ">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="anil-vishnu" />
                                    <label class="custom-control-label" for="anil-vishnu">
                                        Anil Vishnu
                                    </label>
                                </div>
                                <div class="
                                custom-control custom-checkbox custom-control-inline
                                col-md-3
                                mb-1
                              ">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="bhavesh-patel" />
                                    <label class="custom-control-label"
                                           for="bhavesh-patel">
                                        Bhavesh Patel
                                    </label>
                                </div>
                                <div class="
                                custom-control custom-checkbox custom-control-inline
                                col-md-3
                                mb-1
                              ">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="anil-vishnu" />
                                    <label class="custom-control-label" for="anil-vishnu">
                                        Anil Vishnu
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="text-grey-small mb-2">
                            Assigned <span>(2)</span>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="
                              custom-control custom-checkbox custom-control-inline
                              col-md-3
                              mb-1
                            ">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="bhavesh-patel"
                                           disabled
                                           checked />
                                    <label class="custom-control-label"
                                           for="bhavesh-patel">
                                        Bhavesh Patel
                                        <div class="text-grey-small"><small>ZM-Asish Chawda</small></div>
                                    </label>
                                </div>
                                <div class="
                              custom-control custom-checkbox custom-control-inline
                              col-md-3
                              mb-1
                            ">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="anil-vishnu"
                                           disabled />
                                    <label class="custom-control-label" for="anil-vishnu">
                                        Anil Vishnu
                                        <div class="text-grey-small"><small>ZM-Ketan Jadhav</small></div>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group-title">PASSWORD</div>

                        <div class="form-row mb-4">
                            <div class="col-lg-4">
                                @*<label asp-for="Password" class="control-label"></label>*@
                                <input asp-for="Password" class="form-control form-control-custom" placeholder="Password" type="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4">
                                @*<label asp-for="ConfirmPassword" class="control-label"></label>*@
                                <input asp-for="ConfirmPassword" class="form-control form-control-custom" placeholder="Confirm Password" type="password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @if (userDetails.CMSRoleId.HasValue && (userDetails.CMSRoleId.Value == (int)CMSRoleTypes.SUPERADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.VWADMIN))
                        {
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="RoleId" class="control-label"></label>
                                    <select class="roleDDL form-control selectpicker" asp-for="RoleId" asp-items="Model.Roles">
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                        }
                        @if (userDetails.CMSRoleId.HasValue && (userDetails.CMSRoleId.Value == (int)CMSRoleTypes.SUPERADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.VWADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.GROUPDEALERADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.DEALERSHIPADMIN))
                        {
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CmsroleId" class="control-label"></label>
                                    <select class="cmsroleDDL form-control selectpicker" asp-for="CmsroleId" asp-items="Model.CMSRoles">
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        @if (userDetails.CMSRoleId.HasValue && (userDetails.CMSRoleId.Value == (int)CMSRoleTypes.SUPERADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.VWADMIN))
                        {
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="GroupDealerId" class="control-label"></label>
                                    <select class="grpDealerDDL form-control selectpicker" asp-for="GroupDealerId" asp-items="Model.GroupDealers" onchange="GetDealershipsByGroupDealer()">
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                        }
                        else
                        {
                            <input asp-for="GroupDealerId" type="hidden" />
                        }
                        @if (userDetails.CMSRoleId.HasValue && (userDetails.CMSRoleId.Value == (int)CMSRoleTypes.SUPERADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.VWADMIN || userDetails.CMSRoleId.Value == (int)CMSRoleTypes.GROUPDEALERADMIN))
                        {
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="DealershipId" class="control-label"></label>
                                    <select class="dealershipDDL form-control selectpicker" asp-for="DealershipId" asp-items="Model.Dealerships">
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                            </div>
                        }
                        else
                        {
                            <input asp-for="DealershipId" type="hidden" />
                        }
                    </div>
                </div>

                <div class="col-12">
                    <div class="button-wrapper">
                        <div class="left-btns">
                            <input type="submit" value="Save" class="btn btn-medium btn-primary mr-2" />
                            <a asp-action="List" class="btn btn-medium btn-outline-primary mr-2">Cancel</a>
                        </div>
                        <div class="right-btns">
                            <button type="submit" class="btn btn-medium btn-outline-danger mr-2">
                                Delete User
                            </button>
                        </div>
                    </div>
                </div>
            </div>           

        </form>
    </div>
</div>



@section Scripts {
    @*<script src="~/js/Dealership/CreateOrUpdate.js"></script>*@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/RequiredIf.js"></script>
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });


            $(".select-role ").select2({
                placeholder: "Select Role",
                allowClear: true,
            });
        });

        function GetDealershipsByGroupDealer() {
            $("select.dealershipDDL option").remove();
            $("select.dealershipDDL").append($("<option value='0'>Select</option>"));
            var Id = $(".grpDealerDDL option:selected").val();
            $.ajax({
                type: 'POST',
                url: baseUrl + 'Home/GetDealershipsByGroupDealer',
                data: { "Id": parseInt(Id) > 0 ? parseInt(Id) : 0 },
                async: true,
                cache: false,
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {
                        $("select.dealershipDDL").append($("<option value='" + response[i].id + "'>" + response[i].name + "</option>"))
                    };

                    $('.selectpicker').selectpicker('refresh');
                },
                complete: function () {

                },
                error: function () {
                }
            });
        }
    </script>
}