﻿@model IEnumerable<VW.MSU.Models.UserModel>
@{
    ViewData["Title"] = "List";
}
<div class="list-wrp-header">
    <div class="list-record-count">Users (@Model.Count())</div>
    <div class="list-filters">
        @*<a href="#" class="f-box f-box-calender">
            <img src="~/images/icons/calender-icon.svg" alt="calender" />
            <span>03 March, 2019</span>
        </a>*@
        <div class="f-box f-box-search">
            <input type="text" class="form-control form-control-custom" placeholder="Search">
            <button type="submit"><img src="~/images/icons/search-icon.svg" alt="search" /></button>
        </div>
        @*<div class="f-box f-box-filter">
            <div class="select-label">
                Role
            </div>
            <select class="selectJs">
                <option value="value">ALL</option>
            </select>
        </div>*@
        @*<a href="#" class="f-box f-box-xls">
            <img src="@Url.Content("~/images/icons/xls.png")" alt="XLS" />
            <span>XLS</span>
        </a>*@
        <a href="@Url.Action("CreateOrUpdate", "User")" class="f-box f-box-btn">
            <span class="btn-icon btn-icon-add btn-icon-add-white"></span> Create Users
        </a>
    </div>
</div>
<div class="list-wrp-main scroller mCustomScrollbar">
    <div class="vw-tbl-list1">
        @if (Model.Count() > 0)
        {
            <div class="vw-row">
                <div class="vw-cell vw-cell-head">Fullname</div>
                <div class="vw-cell vw-cell-head">Email</div>
                <div class="vw-cell vw-cell-head">Status</div>
                <div class="vw-cell vw-cell-head">Action</div>
            </div>
            foreach (var item in Model)
            {

                <div class="vw-row">
                    <div class="vw-cell">@item.Fullname</div>
                    <div class="vw-cell">
                        <div class="tbl-text-dark">@item.Email</div>
                    </div>
                    <div class="vw-cell">@Html.Raw(item.IsActive ? "Active" : "Inactive")</div>
                    <div class="vw-cell">
                        @Html.ActionLink("", "CreateOrUpdate", new { id = item.UserId }, new { @class = "icon edit-icon" }) <span>|</span>
                        @Html.ActionLink("", "Delete", new { id = item.UserId } , new { @class = "icon delete-icon" })
                    </div>
                </div>
            }
        }
        else
        {
            <div class="vw-row-no-data" style="text-align: center;background: #fff;padding: 25px;">
                <div class="vw-cell-no-data ">No data found.</div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script>
        (function ($) {
            $(window).on("load", function () {
                AutoHeight($(".scroller"), 30);
                $(".scroller").mCustomScrollbar({
                    theme: "minimal"
                });

            });
            $(".selectJs").select2({
                minimumResultsForSearch: -1,                
            });
        })(jQuery);
    </script>
}