﻿@model VW.MSU.Models.GroupDealerModel

@{
    ViewData["Title"] = "Create";
}
@section styles {
    <link rel="stylesheet" href="~/css/jquery-datetimepicker.css" />
}

<div class="create-card">
    <div class="create-wrp-header">
        <div class="create-record-title">            
            <h1><a asp-action="List"> <span>&#8592; &nbsp;</span> @Html.Raw(Model.GroupDealerId > 0 ? "Update" : "Create") Group Dealer</a></h1>
        </div>
    </div>
    <div class="create-form-main">
        <form id="CreateOrUpdateForm" asp-action="CreateOrUpdate" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="text-danger">@Model.ErrorMessage</div>
            }
            <input asp-for="GroupDealerId" type="hidden" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">

                    </div>
                </div>
            </div>
            <div class="form-group mb-form-sec">
                <div class="form-row">
                    <div class="col-lg-3">
                        <label asp-for="Name" class="vw-label">Group Dealer Name</label>
                        <input asp-for="Name" class="form-control form-control-custom" placeholder="Group Dealer Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mb-form-sec">
                <div class="form-group-title">DEALERSHIP UNDER THIS GROUP</div>
                <div class="form-row">
                    <div class="col-12">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   id="Pune" />
                            <label class="custom-control-label" for="Pune">
                                Volkswagen Pune
                                <div><small>44444- shivaji Nagar</small></div>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   id="Pashan" />
                            <label class="custom-control-label" for="Pashan">
                                Volkswagen Pashan
                                <div><small>1111- sush Nagar</small></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mb-form-sec">
                <div class="form-group-title">ADD GROUP DEALER USER</div>
                <button type="button" id="dealer-user-add" class="btn-control add-btn btn btn-primary mb-3 pt-1 pb-1" value="ADD"> <span class="btn-icon btn-icon-add"></span> ADD</button>
                <div id="dealer-users-list">
                    @if (Model.GroupDealerUsers.Count() <= 0)
                    {
                        <div class="form-row location-add mb-3  input-row">
                            <input type="hidden" id="GroupDealerUsers_0__Id" name="GroupDealerUsers[0].Id" value="0" />
                            <div class="col-lg-3">
                                <input id="GroupDealerUsers_0__Fullname" name="GroupDealerUsers[0].Fullname" class="map-input form-control form-control-custom controls" type="text" placeholder="Fullname" data-val="true" data-val-required="The Fullname is required." />
                                <span class="text-danger field-validation-valid" data-valmsg-for="GroupDealerUsers[0].Fullname" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3">
                                <input id="GroupDealerUsers_0__Email" name="GroupDealerUsers[0].Email" class="map-input form-control form-control-custom controls" type="text" placeholder="Email" data-val="true" data-val-required="The Email is required." />
                                <span class="text-danger field-validation-valid" data-valmsg-for="GroupDealerUsers[0].Email" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3">
                                <input id="GroupDealerUsers_0__Phone" name="GroupDealerUsers[0].Phone" class="map-input form-control form-control-custom controls" type="text" placeholder="Phone Number" data-val="true" data-val-required="The Phone Number is required." />
                                <span class="text-danger field-validation-valid" data-valmsg-for="GroupDealerUsers[0].Phone" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3">
                                <input type="checkbox" style="display: none;" id="GroupDealerUsers_0__IsDeleted" name="GroupDealerUsers[0].IsDeleted" value="true" />
                                <button type="button" class="delete-icon icon action-icon" onclick="removeGroupDealer(this);"></button>
                            </div>
                        </div>
                    }
                    @for (var i = 0; i < Model.GroupDealerUsers.Count(); i++)
                    {
                        <div class="location-add form-row mb-3  input-row">
                            <input type="hidden" id="GroupDealerUsers_@Html.Raw(i)__Id" name="GroupDealerUsers[@i].Id" value="@Model.GroupDealerUsers[i].Id" />
                            <div class="col-lg-3">
                                <input id="GroupDealerUsers_@Html.Raw(i)__Fullname" name="GroupDealerUsers[@i].Fullname" value="@Model.GroupDealerUsers[i].Fullname" class="map-input form-control form-control-custom controls" type="text" placeholder="Fullname" data-val="true" data-val-required="The Fullname is required." />
                                <span class="text-danger field-validation-valid" data-valmsg-for="GroupDealerUsers[@i].Fullname" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3">
                                <input id="GroupDealerUsers_@Html.Raw(i)__Email" name="GroupDealerUsers[@i].Email" value="@Model.GroupDealerUsers[i].Email" class="map-input form-control form-control-custom controls" type="text" placeholder="Email" data-val="true" data-val-required="The Email is required." />
                                <span class="text-danger field-validation-valid" data-valmsg-for="GroupDealerUsers[@i].Email" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3">
                                <input id="GroupDealerUsers_@Html.Raw(i)__Phone" name="GroupDealerUsers[@i].Phone" value="@Model.GroupDealerUsers[i].Phone" class="map-input form-control form-control-custom controls" type="text" placeholder="Phone Number" data-val="true" data-val-required="The Phone Number is required." />
                                <span class="text-danger field-validation-valid" data-valmsg-for="GroupDealerUsers[@i].Phone" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-lg-3">
                                <input type="checkbox" style="display: none;" id="GroupDealerUsers_@Html.Raw(i)__IsDeleted" name="GroupDealerUsers[@i].IsDeleted" value="true" />
                                <button type="button" class="delete-icon icon action-icon" onclick="removeGroupDealer(this);"></button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-medium btn-primary" />
                <a asp-action="List" class="btn btn-medium btn-outline-primary mr-2">Cancel</a>
            </div>
        </form>
        <form>
            
        </form>
    </div>
</div>



@section Scripts {
    <script src="~/js/GroupDealer/CreateOrUpdate.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
        });
    </script>
}